openapi: 3.2.0
info:
  title: Optimizely Tasks API
  version: '1.0'
  description: 'Operations tagged Tasks across 2 of this provider''s published API definitions: optimizely-cmp-openapi.yml, optimizely-content-marketing-platform-optimizely-cmp-open-api-documentation-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cmp.optimizely.com/v0
  description: Optimizely CMP API Server
- url: https://api.cmp.optimizely.com/v3
  description: v3 version of Optimizely CMP Open API
tags:
- name: Tasks
  description: Manage content tasks, assignments, and workflow steps within the content marketing platform.
paths:
  /tasks:
    get:
      operationId: listTasks
      summary: List tasks
      description: Returns a list of content tasks and their current workflow status.
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successfully retrieved the list of tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: List of tasks
                    items:
                      $ref: '#/components/schemas/Task'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Authentication credentials are missing or invalid
      security:
      - oauth2: []
    post:
      operationId: createTask
      summary: Create a task
      description: Creates a new content task with the specified configuration.
      tags:
      - Tasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskInput'
      responses:
        '201':
          description: Task successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: Invalid request body
        '401':
          description: Authentication credentials are missing or invalid
      security:
      - oauth2: []
    servers:
    - url: https://api.cmp.optimizely.com/v0
      description: Optimizely CMP API Server
  /tasks/{taskId}:
    get:
      operationId: getTask
      summary: Get a task
      description: Retrieves the details of a specific task by its identifier.
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/taskId'
      responses:
        '200':
          description: Successfully retrieved the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          description: Authentication credentials are missing or invalid
        '404':
          description: Task not found
      security:
      - oauth2: []
    put:
      operationId: updateTask
      summary: Update a task
      description: Updates the specified task with the provided fields.
      tags:
      - Tasks
      parameters:
      - $ref: '#/components/parameters/taskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskInput'
      responses:
        '202':
          description: Task successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: Invalid request body
        '401':
          description: Authentication credentials are missing or invalid
        '404':
          description: Task not found
      security:
      - oauth2: []
    servers:
    - url: https://api.cmp.optimizely.com/v0
      description: Optimizely CMP API Server
  /tasks/{id}:
    get:
      operationId: getTask
      tags:
      - Tasks
      summary: GET /tasks/{id}
      description: Get a task
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      responses:
        '200':
          description: Fetched task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      operationId: updateTask
      tags:
      - Tasks
      summary: PATCH /tasks/{id}
      description: Update a task
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      requestBody:
        description: Payload to update the task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateRequest'
      responses:
        '200':
          description: Updated task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/urls:
    post:
      operationId: addUrlToTask
      tags:
      - Tasks
      summary: POST /tasks/{task_id}/urls
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Adds a URL to a task.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 68fdf93d09caf1463f145dc6
      requestBody:
        description: Payload to add a URL to a task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUrlToTaskRequest'
      responses:
        '201':
          description: Created task URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskUrlResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{id}/brief:
    get:
      operationId: getTaskBrief
      tags:
      - Tasks
      summary: GET /tasks/{id}/brief
      description: Get brief of the task
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      responses:
        '200':
          description: Fetched brief of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskBriefResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{id}/custom-fields:
    get:
      operationId: listTaskCustomFields
      tags:
      - Tasks
      summary: GET tasks/{id}/custom-fields
      description: Get the list of custom fields added to a task.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - $ref: '#/components/parameters/offset_2'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched custom fields
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of custom fields
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskCustomField'
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination_2'
                    - type: object
                      properties:
                        next:
                          type:
                          - string
                          - 'null'
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields?offset=10&page_size=10
                required:
                - data
                - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/custom-fields/{custom_field_id}:
    get:
      operationId: getTaskCustomField
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/custom-fields/{custom_field_id}
      description: Get a custom field of a task
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - name: custom_field_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the custom field
        example: 9nu8ue9wf8u9nusd9q
      responses:
        '200':
          description: Fetched custom field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCustomField'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      operationId: updateTaskCustomField
      tags:
      - Tasks
      summary: PATCH /tasks/{task_id}/custom-fields/{custom_field_id}
      description: 'Update a custom field of a task.

        You can update the following types:  `text_field`, `multi_line_text_field`, `checkboxes`, `dropdown`, `multi_select_dropdown`, `multiple_choice`, `date_field`, `rich_text_field`

        '
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - name: custom_field_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the custom field
        example: 9nu8ue9wf8u9nusd9q
      requestBody:
        description: 'Payload to update the custom field.

          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCustomFieldUpdateRequest'
      responses:
        '200':
          description: Updated custom field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCustomField'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/custom-fields/{custom_field_id}/choices:
    get:
      operationId: listTaskCustomFieldChoices
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/custom-fields/{custom_field_id}/choices
      description: Get the list of the choices of a custom field in a task.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - name: custom_field_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the custom field
        example: 9nu8ue9wf8u9nusd9q
      - $ref: '#/components/parameters/offset_2'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched custom field choices
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of custom field choices
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskCustomFieldChoiceListResponseItem'
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination_2'
                    - type: object
                      properties:
                        next:
                          type:
                          - string
                          - 'null'
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields/j90uv0sd9i0si09sdip/choices?offset=10&page_size=10
                required:
                - data
                - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/fields:
    get:
      operationId: listTaskFields
      tags:
      - Tasks
      summary: GET tasks/{task_id}/fields
      description: '<span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Get the list of fields of a task. '
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - $ref: '#/components/parameters/offset_2'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched fields
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of fields
                    type: array
                    items:
                      $ref: '#/components/schemas/FieldListResponseItem'
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination_2'
                    - type: object
                      properties:
                        next:
                          type:
                          - string
                          - 'null'
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/fields?offset=10&page_size=10
                required:
                - data
                - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    post:
      operationId: addFieldToTask
      tags:
      - Tasks
      summary: POST tasks/{task_id}/fields
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Add a field to a task.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      requestBody:
        description: Payload to add a field to a task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectFieldCreateRequest'
      responses:
        '201':
          description: Added field to a task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectFieldCreateResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/fields/{field_id}:
    put:
      operationId: updateTaskField
      tags:
      - Tasks
      summary: PUT tasks/{taks_id}/fields/{field_id}
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Update a field of a task.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 124p857f3i220y38ad6179e9
      - name: field_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the field of the task
        example: 124p857f3i220y38ad6179e9
      requestBody:
        description: Payload to update a field of a task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskFieldUpdateRequest'
      responses:
        '204':
          description: The field of the task was updated.
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    delete:
      operationId: removeTaskField
      tags:
      - Tasks
      summary: DELETE tasks/{task_id}/fields/{field_id}
      description: '<span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Remove a field of a task. '
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - name: field_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the field
        example: fa63cece6aa811efb70202420ac80016
      responses:
        '204':
          description: The field is removed from the task
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}:
    get:
      operationId: getTaskSubStep
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}
      description: Get the substep of a task
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the step
        example: 897f910551b00a722e0418830cee6612
      - name: sub_step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the substep
        example: 700f910551b00a722e0418830cee6612
      responses:
        '200':
          description: Fetched task substep information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStep'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      operationId: updateTaskSubStep
      tags:
      - Tasks
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}
      description: Update a substep of a step in a task
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the step
        example: 897f910551b00a722e0418830cee6612
      - name: sub_step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the substep
        example: 700f910551b00a722e0418830cee6612
      requestBody:
        description: Payload to update the substep
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSubStepRequest'
            examples:
              is_in_progress:
                summary: Mark the substep as In Progress
                value:
                  is_in_progress: true
              is_completed:
                summary: Mark the substep as completed
                value:
                  is_completed: true
              assignee_id:
                summary: Change the assignee of the substep
                value:
                  assignee_id: 5fdf31d57f0d0e362e2b5908
      responses:
        '200':
          description: Fetched task substep information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStep'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work:
    get:
      operationId: getTaskSubStepExternalWork
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work
      description: Get the external work information of a task external substep
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the step
        example: 897f910551b00a722e0418830cee6612
      - name: sub_step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the substep
        example: 700f910551b00a722e0418830cee6612
      responses:
        '200':
          description: Fetched external work information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskExternalWorkResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      operationId: updateTaskSubStepExternalWork
      tags:
      - Tasks
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work
      description: Update the external work information of a task external substep
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the step
        example: 897f910551b00a722e0418830cee6612
      - name: sub_step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the substep
        example: 700f910551b00a722e0418830cee6612
      requestBody:
        description: Payload to update the external work information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskExternalWorkRequest'
      responses:
        '200':
          description: Updated external work information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskExternalWorkResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments:
    get:
      operationId: listTaskSubStepComments
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments
      description: Get the list of the comments of a task substep
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the step
        example: 897f910551b00a722e0418830cee6612
      - name: sub_step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the substep
        example: 700f910551b00a722e0418830cee6612
      responses:
        '200':
          description: List of fetched task substep comments
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of substep comments
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskSubStepCommentResponse'
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination_2'
                    - type: object
                      properties:
                        next:
                          type:
                          - string
                          - 'null'
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/steps/897f910551b00a722e0418830cee6612/sub-steps/700f910551b00a722e0418830cee6612/comments?offset=10&page_size=10
                required:
                - data
                - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    post:
      operationId: addCommentToTaskSubStep
      tags:
      - Tasks
      summary: POST /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments
      description: Create a task substep comment
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the step
        example: 897f910551b00a722e0418830cee6612
      - name: sub_step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the substep
        example: 700f910551b00a722e0418830cee6612
      requestBody:
        description: Payload to create substep comment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWithReplyCreateRequest'
      responses:
        '201':
          description: Created task substep comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/fields:
    get:
      operationId: listTaskSubStepFields
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/fields
      description: '<span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Get the list of fields of a substep of a task. '
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the step
        example: 897f910551b00a722e0418830cee6612
      - name: sub_step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the substep
        example: 700f910551b00a722e0418830cee6612
      - $ref: '#/components/parameters/offset_2'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched fields
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of fields
                    type: array
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/FieldTypeLabel'
                      - $ref: '#/components/schemas/FieldTypeDropdown'
                      - $ref: '#/components/schemas/FieldTypeRadio'
                      - $ref: '#/components/schemas/FieldTypeCheckbox'
                      discriminator:
                        propertyName: type
                        mapping:
                          checkbox: '#/components/schemas/FieldTypeCheckbox'
                          dropdown: '#/components/schemas/FieldTypeDropdown'
                          label: '#/components/schemas/FieldTypeLabel'
                          radio_button: '#/components/schemas/FieldTypeRadio'
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination_2'
                    - type: object
                      properties:
                        next:
                          type:
                          - string
                          - 'null'
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/steps/897f910551b00a722e0418830cee6612/sub-steps/700f910551b00a722e0418830cee6612/fields?offset=10&page_size=10
                required:
                - data
                - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}:
    get:
      operationId: getTaskSubStepComment
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}
      description: Get a task substep comment
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the step
        example: 897f910551b00a722e0418830cee6612
      - name: sub_step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the substep
        example: 700f910551b00a722e0418830cee6612
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the comment
        example: 5fe3886c574b52a62a089237
      responses:
        '200':
          description: Fetched task substep comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      operationId: updateTaskSubStepComment
      tags:
      - Tasks
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}
      description: Update a task substep comment
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the step
        example: 897f910551b00a722e0418830cee6612
      - name: sub_step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the substep
        example: 700f910551b00a722e0418830cee6612
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the comment
        example: 5fe3886c574b52a62a089237
      requestBody:
        description: Payload to update the substep comment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSubStepCommentUpdateRequest'
      responses:
        '200':
          description: Updated task substep comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    delete:
      operationId: deleteTaskSubStepComment
      tags:
      - Tasks
      summary: DELETE /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}
      description: Delete a task substep comment
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the step
        example: 897f910551b00a722e0418830cee6612
      - name: sub_step_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the substep
        example: 700f910551b00a722e0418830cee6612
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the comment
        example: 5fe3886c574b52a62a089237
      responses:
        '204':
          description: Deleted task substep comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{id}/assets:
    get:
      operationId: listTaskAssets
      tags:
      - Tasks
      summary: GET /tasks/{id}/assets
      description: Get the list of the assets or contents of a task
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - $ref: '#/components/parameters/offset_2'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched assets
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of assets
                    type: array
                    items:
                      allOf:
                      - $ref: '#/components/schemas/TaskAssetResponse'
                      - type: object
                        properties:
                          library_asset_id:
                            type:
                            - string
                            - 'null'
                            description: Unique identifier of the corresponding library asset — the library asset this task asset was forked from, or the one it was released to.
                            example: 6a8b2c3d4e5f6071829a3b4c
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination_2'
                    - type: object
                      properties:
                        next:
                          type:
                          - string
                          - 'null'
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets?offset=10&page_size=10
                required:
                - data
                - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    post:
      operationId: addAssetToTask
      tags:
      - Tasks
      summary: POST /tasks/{id}/assets
      description: This API allows you to add an asset to a task. There currently two mechanisms to add an asset - either by uploading an asset first and then calling this API (for only `images`, `videos`, and `raw files`), or by adding an asset from the library. The 'type' parameter in the request body will determine the mechanism used to add the asset. See [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) to upload an asset.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      requestBody:
        description: 'Payload to add an asset. There are two mechanisms for adding assets to a task:

          - `direct_upload` - An asset that has been uploaded using the [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) endpoint.

          - `fork_from_library` - This will fork an existing asset from the library to the task.

          The `type` field is optional, and will default to `direct_upload` if not provided.

          Note: Renditions is currently not supported for library assets.

          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAssetRequest'
      responses:
        '201':
          description: Created asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/assets/{asset_id}/drafts:
    post:
      operationId: addDraftToTaskAsset
      tags:
      - Tasks
      summary: POST /tasks/{task_id}/assets/{asset_id}/drafts
      description: Add a new draft to a task asset. You can add a draft to only `images`, `videos`, and `raw files` type task assets. See [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) to upload an asset draft.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the asset
        example: 5d7f910551b00a722e0418830cee6631
      requestBody:
        description: Payload to add a draft to an asset
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAssetRequest'
      responses:
        '201':
          description: Created draft
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetDraftResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    get:
      operationId: listTaskAssetDrafts
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/assets/{asset_id}/drafts
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Get the list of drafts on an asset of a task.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the asset
        example: 5d7f910551b00a722e0418830cee6631
      responses:
        '200':
          description: List of fetched drafts
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of drafts
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskAssetDraftListResponseItem'
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination_2'
                    - type: object
                      properties:
                        next:
                          type:
                          - string
                          - 'null'
                          example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets/5d7f910551b00a722e0418830cee6631/drafts?offset=10&page_size=10
                required:
                - data
                - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/assets/{asset_id}/comments:
    get:
      operationId: listTaskAssetComments
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/assets/{asset_id}/comments
      description: List all the comments for the latest version of a task asset.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the asset
        example: 897f910551b00a722e0418830cee6612
      responses:
        '200':
          description: List of comments for the asset
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of comments
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskAssetCommentResponse'
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination_2'
                    - type: object
                      properties:
                        next:
                          type:
                          - string
                          - 'null'
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/assets/897f910551b00a722e0418830cee6612/comments?offset=10&page_size=10
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    post:
      operationId: addCommentToTaskAsset
      tags:
      - Tasks
      summary: POST /tasks/{task_id}/assets/{asset_id}/comments
      description: Add a comment to the latest version of a task asset. Supports adding comments to only **images**, **videos** and **raw files** type assets.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the asset
        example: 897f910551b00a722e0418830cee6612
      requestBody:
        description: Payload to add comment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateRequest'
      responses:
        '201':
          description: Added comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetCommentResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/assets/{asset_id}/fields:
    get:
      operationId: listTaskAssetFields
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/assets/{asset_id}/fields
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> List all the fields of a task asset.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 7d7f910551b00a722e0418830cee6612
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the asset
        example: 897f910551b00a722e0418830cee6612
      responses:
        '200':
          description: List of fields for the asset
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of fields
                    type: array
                    items:
                      $ref: '#/components/schemas/AssetFieldListResponseItem'
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination_2'
                    - type: object
                      properties:
                        next:
                          type:
                          - string
                          - 'null'
                          example: https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/assets/897f910551b00a722e0418830cee6612/fields?offset=10&page_size=10
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    put:
      operationId: updateTaskAssetFields
      tags:
      - Tasks
      summary: PUT tasks/{task_id}/assets/{asset_id}/fields
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Replace fields of an asset in a task.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task asset
        example: 5f857f30e1c4a2038d6179e9
      requestBody:
        description: Payload to replace the fields
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAssetFieldsUpdateRequest'
      responses:
        '204':
          description: Fields successfulled updated.
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{id}/attachments:
    get:
      operationId: listTaskAttachments
      tags:
      - Tasks
      summary: GET /tasks/{id}/attachments
      description: Get the list of the attachments of a task
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - $ref: '#/components/parameters/offset_2'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched attachments
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of attachments
                    type: array
                    items:
                      $ref: '#/components/schemas/AttachmentResponse'
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination_2'
                    - type: object
                      properties:
                        next:
                          type:
                          - string
                          - 'null'
                          example: https://api.cmp.optimizely.com/v3/tasks/attachments?offset=10&page_size=10
                required:
                - data
                - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/articles/{article_id}:
    get:
      operationId: getTaskArticle
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/articles/{article_id}
      description: Get an article associated with the task identified by `task_id`.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - name: article_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the article associated with the task
        example: 5d7f910551b00a722e0418830cee6631
      responses:
        '200':
          description: Fetched article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskArticle'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/images/{image_id}:
    get:
      operationId: getTaskImage
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/images/{image_id}
      description: Get an image associated with the task identified by `task_id`.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - name: image_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the image associated with the task
        example: 5d7f910551b00a722e0418830cee6632
      responses:
        '200':
          description: Fetched image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskImage'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/videos/{video_id}:
    get:
      operationId: getTaskVideo
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/videos/{video_id}
      description: Get a video associated with the task identified by task_id
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - name: video_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the video associated with the task
        example: 5d7f910551b00a722e0418830cee6633
      responses:
        '200':
          description: Fetched video
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskVideo'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/raw-files/{raw_file_id}:
    get:
      operationId: getTaskRawFile
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/raw-files/{raw_file_id}
      description: Get a raw file associated with the task identified by `task_id`.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      - name: raw_file_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the raw file associated with the task
        example: 5d7f910551b00a722e0418830cee6634
      responses:
        '200':
          description: Fetched raw file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRawFile'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/comments:
    post:
      operationId: addCommentToTask
      tags:
      - Tasks
      summary: POST /tasks/{task_id}/comments
      description: '<span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Post a comment on a task. '
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: da80cfd7bbf84959a8a981acbad996b3
      requestBody:
        description: Payload to add a comment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateRequest'
      responses:
        '201':
          description: Created a comment for the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCommentResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/publishing-intents:
    post:
      operationId: createTaskPublishingIntent
      tags:
      - Tasks
      summary: POST /tasks/{task_id}/publishing-intents
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Create a publishing intent for a task on the specified publishing channel.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 6a311afa4234a8b03875306c
      requestBody:
        description: Payload to create a publishing intent
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskPublishingIntentCreateRequest'
      responses:
        '201':
          description: Created publishing intent for the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskPublishingIntentResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/structured-contents:
    post:
      operationId: addStructuredContentToTask
      tags:
      - Tasks
      summary: POST /tasks/{task_id}/structured-contents
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Add a new structured content to task
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5f857f30e1c4a2038d6179e9
      requestBody:
        description: Payload to add a structured content
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskStructuredContentCreateRequest'
      responses:
        '201':
          description: Created content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentDetailsModel'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/structured-contents/{content_id}:
    get:
      operationId: getTaskStructuredContent
      tags:
      - Tasks
      summary: GET /tasks/{task_id}/structured-contents/{content_id}
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Get a task structured content by its guid.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 645cb61c966d0c591320f636
      - name: content_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the structured content
        example: 5fe38c39574b52a62a089239
      responses:
        '200':
          description: Structured content by Id for the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentDetailsModel'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    patch:
      operationId: updateTaskStructuredContent
      tags:
      - Tasks
      summary: PATCH /tasks/{task_id}/structured-contents/{content_id}
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Update structured content using a task.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: da80cfd7bbf84959a8a981acbad996b3
      - name: content_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the structured content
        example: da80cfd7bbf84959a8a981acbad996b3
      requestBody:
        description: Payload to update structured content
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskStructuredContentUpdateRequest'
      responses:
        '200':
          description: Updated structured content as response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentDetailsModel'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    delete:
      operationId: deleteTaskStructuredContent
      tags:
      - Tasks
      summary: DELETE /tasks/{task_id}/structured-contents/{content_id}
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Delete a structured content from task
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: 5d7f910551b00a722e0418830cee6631
      - name: content_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the content
        example: ff3f8e024f0611ed993202420ac8001b
      responses:
        '204':
          description: Deleted the content
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
  /tasks/{task_id}/structured-contents/{content_id}/drafts:
    post:
      operationId: createTaskStructuredContentDraft
      tags:
      - Tasks
      summary: POST /tasks/{task_id}/structured-contents/{content_id}/drafts
      description: <span style="background-color:#e95f6a;padding:5px;border-radius:5px">Experimental</span> Create structured content draft using a task.
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the task
        example: da80cfd7bbf84959a8a981acbad996b3
      - name: content_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier of the structured content
        example: da80cfd7bbf84959a8a981acbad996b3
      requestBody:
        description: Payload to create structured content drafts
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskStructuredContentDraftRequest'
      responses:
        '201':
          description: Created structured content draft as response
          content:
            application/json:
              schema:
                type: object
              example: null
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
components:
  parameters:
    taskId:
      name: taskId
      in: path
      required: true
      description: The unique identifier for the task
      schema:
        type: string
    offset:
      name: offset
      in: query
      required: false
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    limit:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
    page_size:
      name: page_size
      in: query
      description: Number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      example: 15
    offset_2:
      name: offset
      in: query
      description: Starting index of results (zero indexed)
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 5
  schemas:
    Task:
      type: object
      description: A content task in the CMP workflow
      properties:
        id:
          type: string
          description: Unique identifier for the task
        title:
          type: string
          description: Title of the task
        description:
          type: string
          description: Description of the task
        status:
          type: string
          description: Current workflow status of the task
        assignee:
          type: object
          description: User assigned to the task
          properties:
            id:
              type: string
              description: User identifier
            name:
              type: string
              description: User display name
        due_date:
          type: string
          format: date
          description: Due date for the task
        campaign_id:
          type: string
          description: Associated campaign identifier
        labels:
          type: array
          description: Labels associated with the task
          items:
            type: string
        assets:
          type: array
          description: Assets attached to the task
          items:
            type: object
            properties:
              id:
                type: string
                description: Asset identifier
              type:
                type: string
                description: Asset type
        created_at:
          type: string
          format: date-time
          description: Timestamp when the task was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the task was last updated
    Pagination:
      type: object
      description: Pagination metadata
      properties:
        total:
          type: integer
          description: Total number of items
        limit:
          type: integer
          description: Maximum items per page
        offset:
          type: integer
          description: Current offset
    TaskInput:
      type: object
      description: Input for creating or updating a task
      properties:
        title:
          type: string
          description: Title of the task
        description:
          type: string
          description: Description of the task
        assignee_id:
          type: string
          description: User identifier for the assignee
        due_date:
          type: string
          format: date
          description: Due date for the task
        campaign_id:
          type: string
          description: Associated campaign identifier
        labels:
          type: array
          description: Labels to associate with the task
          items:
            type: string
    AllowedContentTypeItem:
      required:
      - name
      - url
      type: object
      properties:
        name:
          type: string
          description: Name of the item
        url:
          type: string
          description: URL of the item
    LocationDefaultValue:
      required:
      - longitude
      - latitude
      type: object
      properties:
        longitude:
          type: number
          description: Longitude of the location
        latitude:
          type: number
          description: Latitude of the location
    TaskRawFile:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          description: Unique identifier of the raw file
          example: 5d7f910551b00a722e0418830cee6634
        title:
          type: string
          description: Title of the raw file
          example: documents.zip
        mime_type:
          type: string
          description: MIME type of the raw file
          example: application/zip
        created_at:
          type: string
          format: date-time
          description: Date and time on which the raw file was created, in ISO 8601 UTC format (2020-02-10T10:40:45Z)
          example: '2019-10-06T13:15:30Z'
        modified_at:
          type: string
          format: date-time
          description: Date and time of the most recent modification of the raw file,  in ISO 8601 UTC format (2020-02-10T10:40:45Z)
          example: '2019-10-07T13:15:30Z'
        file_size:
          type: integer
          description: Size of the raw file in bytes
          example: 11244
        url:
          type: string
          description: Download the URL of the raw file
          example: https://files.cmp.optimizely.com/171451644651701b96f1122009f026bc
        labels:
          type: array
          description: Labels associated to the raw file
          items:
            $ref: '#/components/schemas/ResourceLabelResponse'
        library_asset_id:
          type:
          - string
          - 'null'
          description: Unique identifier of the corresponding library asset — the library asset this task asset was forked from, or the one it was released to.
          example: 6a8b2c3d4e5f6071829a3b4c
        links:
          type: object
          additionalProperties: false
          description: Meta links
          properties:
            self:
              type: string
              description: URL of the raw file
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/raw-files/5d7f910551b00a722e0418830cee6634
            task:
              type: string
              description: URL of the task that the raw file is associated with
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9
            drafts:
              type: string
              description: URL to POST draft to the raw file
              example: https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets/5d7f910551b00a722e0418830cee6634/drafts
            web_urls:
              type: object
              additionalProperties: false
              description: Web URLs
              properties:
                self:
                  type: string
                  description: Web URL of the raw file
                  example: https://cmp.optimizely.com/cloud/taskv3/5f857f30e1c4a2038d6179e9?contentTabGuid=5d7f910551b00a722e0418830cee6634
                task:
                  type: string
                  description: Web URL of the task that the raw file is associated with
                  example: https://cmp.optimizely.com/cloud/taskv3/5f857f30e1c4a2038d6179e9
                drafts:
                  type: string
                  description: Web URL of the drafts of the raw file
                  example: https://cmp.optimizely.com/cloud/task/5f857f30e1c4a2038d6179e9/raw_file/5d7f910551b00a722e0418830cee6634
              required:
              - self
              - task
              - drafts
          required:
          - self
          - task
          - drafts
          - web_urls
      required:
      - id
      - title
      - mime_type
      - created_at
      - modified_at
      - file_size
      - url
      - labels
      - links
    AssetFieldTypeDropdown:
      allOf:
      - $ref: '#/components/schemas/BaseAssetField'
      - type: object
        properties:
          is_multi_select:
            type: boolean
            description: Allow users to select multiple values from the dropdown
          choices:
            type: array
            description: Choices of the dropdown
            items:
              type: object
              properties:
                id:
                  type: string
                  description: Identifier of the choice
                  example: 6ceee2f4fa3411ecb37802420ac8001b
                name:
                  type: string
                  description: Name of the choice
                  example: Dropdown 1 Choice 1
              required:
              - id
              - name
        required:
        - is_multi_select
        - choices
    ContentTypeFieldEmbedMixConfig:
      enum:
      - 1
      - 2
      - 3
      type: integer
      description: "Ref Type:\n  * `1` Refer only\n  * `2` Refer and create embed\n  * `3` Create only\n"
    TaskStructuredContentCreateRequest:
      type: object
      additionalProperties: false
      properties:
        content_type_guid:
          type: string
          description: Unique identifier of the content type
          example: 5d7f910551b00a722e0418830cee6633
        template_guid:
          type: string
          description: Unique identifier of the template
          example: 5d7f910551b00a722e0418830cee6633
        fields:
          title: fields
          type:
          - object
          - 'null'
          $ref: '#/components/schemas/StructuredContentBody'
        root_content:
          title: Rootcontent
          type: boolean
          description: This is true when the content is not embedded in another content through a content type reference field
        title:
          type: string
          description: Title of the structured content
          example: Some webpage
        primary_locale:
          type: string
          description: The primary locale of the content
          example: en_US
        expired:
          title: Expired
          type: boolean
          description: Expired status of the content
        expiry_datetime:
          title: Expirydatetime
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time on which the content will expire, in ISO 8601 UTC format
          example: '2019-10-07T13:15:30Z'
        source:
          title: Source
          type:
          - string
          - 'null'
          description: Source of the content
        source_id:
          title: Sourceid
          type:
          - string
          - 'null'
          description: Source id of the content
        source_metadata:
          title: Sourcemetadata
          type:
          - string
          - 'null'
          description: Source metadata of the content
      required:
      - content_type_guid
    TaskExternalWorkRequest:
      type: object
      additionalProperties: false
      properties:
        identifier:
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 50
          description: Identifier of the external work
          example: MY-PROJ-123
        title:
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 128
          description: Title of the external work
          example: A very important ticket
        status:
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 128
          description: Status of the external work
          example: In Progress
        url:
          type:
          - string
          - 'null'
          maxLength: 500
          description: Link to the external work (must be a valid URL with HTTPS scheme)
          example: https://example.com/some-project/MY-PROJ-123
    ChoiceDisplayOption:
      enum:
      - radio
      - dropdown
      - tag
      - checkbox
      type: string
      description: An enumeration.
    LocationFieldValueModel:
      required:
      - longitude
      - latitude
      type: object
      properties:
        longitude:
          type: number
          description: Longitude of the field value
        latitude:
          type: number
          description: Longitude of the field value
        order_index:
          type: integer
          description: Order index of the field value
    FieldTypeSimpleNumber:
      allOf:
      - $ref: '#/components/schemas/FieldBaseType'
      - type: object
        properties:
          has_thousand_separator:
            type: boolean
            description: Whether the numerical field has a thousand separator
            example: true
          decimal_places:
            type:
            - integer
            - 'null'
            description: Decimal place of the numerical field
            example: 2
        required:
        - has_thousand_separator
        - decimal_places
    ObjectFieldCreateResponse:
      type: object
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/FieldTypeCommon'
      - $ref: '#/components/schemas/FieldTypeLabel'
      - $ref: '#/components/schemas/FieldTypeDropdown'
      - $ref: '#/components/schemas/FieldTypeRadio'
      - $ref: '#/components/schemas/FieldTypeCheckbox'
      - $ref: '#/components/schemas/FieldTypeSimpleNumber'
      - $ref: '#/components/schemas/FieldTypePercentageNumber'
      - $ref: '#/components/schemas/FieldTypeCurrencyNumber'
      discriminator:
        propertyName: type
        mapping:
          checkbox: '#/components/schemas/FieldTypeCheckbox'
          currency_number: '#/components/schemas/FieldTypeCurrencyNumber'
          date: '#/components/schemas/FieldTypeCommon'
          dropdown: '#/components/schemas/FieldTypeDropdown'
          image: '#/components/schemas/FieldTypeCommon'
          label: '#/components/schemas/FieldTypeLabel'
          percentage_number: '#/components/schemas/FieldTypePercentageNumber'
          radio_button: '#/components/schemas/FieldTypeRadio'
          rich_text: '#/components/schemas/FieldTypeCommon'
          simple_number: '#/components/schemas/FieldTypeSimpleNumber'
          text: '#/components/schemas/FieldTypeCommon'
          text_area: '#/components/schemas/FieldTypeCommon'
          video: '#/components/schemas/FieldTypeCommon'
    AssetFieldTypeLabel:
      allOf:
      - $ref: '#/components/schemas/BaseAssetField'
      - type: object
        properties:
          is_multi_select:
            type: boolean
            description: Select multiple values from the label
          choices:
            type: array
            description: Choices of the label
            items:
              type: object
              properties:
                id:
                  type: string
                  description: Identifier of the choice
                  example: 6ceee2f4fa3411ecb37802420ac8001b
                name:
                  type: string
                  description: Name of the choice
                  example: Label 1 Choice 1
              required:
              - id
              - name
        required:
        - is_multi_select
        - choices
    AssetFieldTypeCheckbox:
      allOf:
      - $ref: '#/components/schemas/BaseAssetField'
      - type: object
        properties:
          choices:
            type: array
            description: Choices of the checkbox
            items:
              type: object
              properties:
                id:
                  type: string
                  description: Identifier of the choice
                  example: 6ceee2f4fa3411ecb37802420ac8001b
                name:
                  type: string
                  description: Name of the choice
                  example: Checkbox 1 Choice 1
              required:
              - id
              - name
        required:
        - choices
    BaseObjectFieldUpdatePayload:
      type: object
      properties:
        type:
          type: string
          description: Type of the field
          example: checkbox
        values:
          type: array
          description: Values for the campaign field
      required:
      - type
      - values
    TaskCreateRequest:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          description: Title of the task
          example: Awesome Task
        campaign_id:
          type: string
          description: Id of the campaign to be associated with the task
          example: 6684f31be89a526d030cfc0f
        workflow_id:
          type: string
          description: Id of the workflow to be used in the task
          example: 665d56034854d100ad7cb8fb
        start_at:
          type: string
          format: date-time
          description: Start date and time of the task, in ISO 8601 UTC format (2020-02-10T10:40:45Z). If `workflow_id` is present and the workflow has step duration, then either `start_at` or `due_at` is required. If both `start_at` and `due_at` is provided with a `workflow_id` that has step duration, then the `start_at` field will be ignored.
          example: '2020-10-01T06:00:00Z'
        due_at:
          type: string
          format: date-time
          description: Due date and time of the task, in ISO 8601 UTC format (2020-02-10T10:40:45Z). The `due_at` field is required if `workflow_id` is present and the workflow does not have step duration. If `workflow_id` is present and the workflow has step duration, then either `start_at` or `due_at` is required.
          example: '2020-10-06T13:15:30Z'
        owner_id:
          type: string
          description: Id of the owner of the task
          example: 665d5717c8ba0201647a0991
      required:
      - title
    LocalizedFieldValuesWithEmbeddedContent:
      required:
      - locale
      - field_values
      type: object
      properties:
        locale:
          type: string
        field_values:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/NumberFieldValueModel'
            - $ref: '#/components/schemas/BooleanFieldValueModel'
            - $ref: '#/components/schemas/DatetimeFieldValueModel'
            - $ref: '#/components/schemas/TextFieldValueModel'
            - $ref: '#/components/schemas/RichTextFieldValueModel'
            - $ref: '#/components/schemas/LibraryAssetFieldValueModel'
            - $ref: '#/components/schemas/ContentFieldValueWithEmbeddedModel'
            - $ref: '#/components/schemas/ContentFieldValueModel'
            - $ref: '#/components/schemas/URLFieldValueModel'
            - $ref: '#/components/schemas/JSONFieldValueModel'
            - $ref: '#/components/schemas/ChoiceFieldValueModel'
            - $ref: '#/components/schemas/LocationFieldValueModel'
    TaskAssetFieldsUpdateRequest:
      type: array
      items:
        type: object
        additionalProperties: false
        oneOf:
        - $ref: '#/components/schemas/StringTypeObjectField'
        - $ref: '#/components/schemas/MultiChoiceTypeObjectField'
        - $ref: '#/components/schemas/DropdownTypeObjectField'
        - $ref: '#/components/schemas/RadioButtonTypeObjectField'
        - $ref: '#/components/schemas/NumberTypeObjectField'
        - $ref: '#/components/schemas/DateTypeObjectField'
        - $ref: '#/components/schemas/AssetTypeObjectField'
        discriminator:
          propertyName: type
          mapping:
            checkbox: '#/components/schemas/MultiChoiceTypeObjectField'
            currency_number: '#/components/schemas/NumberTypeObjectField'
            date: '#/components/schemas/DateTypeObjectField'
            dropdown: '#/components/schemas/DropdownTypeObjectField'
            label: '#/components/schemas/MultiChoiceTypeObjectField'
            radio_button: '#/components/schemas/RadioButtonTypeObjectField'
            percentage_number: '#/components/schemas/NumberTypeObjectField'
            simple_number: '#/components/schemas/NumberTypeObjectField'
            text: '#/components/schemas/StringTypeObjectField'
            text_area: '#/components/schemas/StringTypeObjectField'
            rich_text: '#/components/schemas/StringTypeObjectField'
            image: '#/components/schemas/AssetTypeObjectField'
            video: '#/components/schemas/AssetTypeObjectField'
    PatchLocalizedFieldValuesWithEmbeddedContent:
      required:
      - locale
      - field_values
      type: object
      properties:
        locale:
          type: string
          description: The default value should be en_US
        field_values:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/NumberFieldValueModel'
            - $ref: '#/components/schemas/BooleanFieldValueModel'
            - $ref: '#/components/schemas/DatetimeFieldValueModel'
            - $ref: '#/components/schemas/TextFieldValueModel'
            - $ref: '#/components/schemas/RichTextFieldValueModel'
            - $ref: '#/components/schemas/LibraryAssetFieldValueModel'
            - $ref: '#/components/schemas/ContentFieldValueWithEmbeddedModel'
            - $ref: '#/components/schemas/ContentFieldValueModel'
            - $ref: '#/components/schemas/URLFieldValueModel'
            - $ref: '#/components/schemas/JSONFieldValueModel'
            - $ref: '#/components/schemas/ChoiceFieldValueModel'
            - $ref: '#/components/schemas/LocationFieldValueModel'
            - $ref: '#/components/schemas/DeleteFieldValueModel'
            - $ref: '#/components/schemas/ContentFieldWithEmbeddedPatchValueModel'
    LibraryAssetFieldDefinition:
      required:
      - core
      - allowed_types
      type: object
      properties:
        core:
          $ref: '#/components/schemas/CoreFieldDef'
        allowed_types:
          type: array
          items:
            $ref: '#/components/schemas/LibraryAssetType'
        default_values:
          type: array
          description: Default values for the field
          items:
            $ref: '#/components/schemas/LibraryAssetDefaultValue'
    StructuredContentBody:
      type: object
      description: The fields of structured content
      properties:
        has_embedded:
          description: Whether the structured content has embedded content reference field values
          type:
          - boolean
          - 'null'
      additionalProperties:
        type: array
        items:
          $ref: '#/components/schemas/LocalizedFieldValuesWithEmbeddedContent'
    BaseAssetField:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          description: Identifier of the field
          example: 64be245ec0d79e79fdf1ad84
        name:
          type: string
          description: Name of the field
          example: Simple Text
        values:
          type: array
          description: List of selected values or from user input
          items:
            type: string
        type:
          type: string
          description: Type of the field
          example: text
      required:
      - id
      - name
      - type
      - values
    AddUrlToTaskRequest:
      type: object
      additionalProperties: false
      properties:
        title:
[...]
