openapi: 3.2.0
info:
  title: Optimizely Labels API
  version: '1.0'
  description: 'Operations tagged Labels across 2 of this provider''s published API definitions: optimizely-cmp-openapi.yml, optimizely-content-marketing-platform-optimizely-cmp-open-api-documentation-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cmp.optimizely.com/v0
  description: Optimizely CMP API Server
- url: https://api.cmp.optimizely.com/v3
  description: v3 version of Optimizely CMP Open API
tags:
- name: Labels
  description: Manage labels used for categorizing and organizing content.
paths:
  /labels:
    get:
      operationId: listLabels
      summary: List labels
      description: Returns a list of labels used for categorizing content in the CMP.
      tags:
      - Labels
      responses:
        '200':
          description: Successfully retrieved the list of labels
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Label'
        '401':
          description: Authentication credentials are missing or invalid
      security:
      - oauth2: []
    servers:
    - url: https://api.cmp.optimizely.com/v0
      description: Optimizely CMP API Server
  /label-groups:
    get:
      operationId: listLabelGroups
      tags:
      - Labels
      summary: GET /label-groups
      description: Get the list of label groups. Label groups are sorted by `name` in ascending order.
      parameters:
      - name: source_org_type
        in: query
        description: Source organization type to filter by
        schema:
          type: string
          enum:
          - current
          - related
        example: current
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched label groups
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of label groups
                    type: array
                    items:
                      $ref: '#/components/schemas/LabelGroup'
                  pagination:
                    allOf:
                    - $ref: '#/components/schemas/Pagination'
                    - type: object
                      properties:
                        next:
                          type:
                          - string
                          - 'null'
                          example: https://api.cmp.optimizely.com/v3/label-groups?offset=10&page_size=10
                required:
                - data
                - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - OAuth2:
        - openid
        - profile
        - offline_access
    servers:
    - url: https://api.cmp.optimizely.com/v3
      description: v3 version of Optimizely CMP Open API
components:
  schemas:
    Label:
      type: object
      description: A label used for categorizing content
      properties:
        id:
          type: string
          description: Unique identifier for the label
        name:
          type: string
          description: Display name of the label
        color:
          type: string
          description: Color code for the label
    Error:
      type: object
      additionalProperties: true
      description: Error payload
      properties:
        message:
          type: string
          description: Message describing the error
          example: Not found
        errors:
          type: object
          description: Additional information
          additionalProperties: true
          properties: {}
      required:
      - message
    LabelGroup:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          description: Unique identifier for the label group
          example: 693c3b28b10a22800e1936fa53324ac1
        name:
          type: string
          description: Name of the label group
          example: Content Pillar
        source_org_type:
          type: string
          enum:
          - current
          - related
          description: 'Source organization type where the label group is listed.

            `current` means the label group is listed in the organization with which the Open API App is associated.

            `related` means the label group is listed in one of the organizations related to the `current` organization.

            '
        values:
          description: Values of the label group
          type: array
          items:
            $ref: '#/components/schemas/LabelGroupValue'
      required:
      - id
      - name
      - source_org_type
      - values
    Pagination:
      type: object
      additionalProperties: false
      description: Pagination related information
      properties:
        next:
          type:
          - string
          - 'null'
          description: URL to the next page
          example: https://api.cmp.optimizely.com/<some-path-to-next-page>?offset=10&page_size=10
        previous:
          type:
          - string
          - 'null'
          description: URL to the previous page
          example: null
      required:
      - next
      - previous
    LabelGroupValue:
      type: object
      additionalProperties: false
      description: Values of a label group
      properties:
        id:
          type: string
          description: Unique identifier for the label group value
          example: 1693bd22eac001bae8f33eab29ee5bc2
        name:
          type: string
          description: Name of the label group value
          example: Pillar 1
      required:
      - id
      - name
  responses:
    ClientError:
      description: Client error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: 'Unsupported arguments: a,b,c'
    Forbidden:
      description: Permission error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: You do not have the permission to perform this operation
    Unauthorized:
      description: Authorization error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Unauthorized
  parameters:
    offset:
      name: offset
      in: query
      description: Starting index of results (zero indexed)
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 5
    page_size:
      name: page_size
      in: query
      description: Number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      example: 15
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for the CMP API.
      flows:
        clientCredentials:
          tokenUrl: https://api.cmp.optimizely.com/oauth/token
          scopes: {}
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.cmp.optimizely.com/o/oauth2/v1/auth
          tokenUrl: https://accounts.cmp.optimizely.com/o/oauth2/v1/token
          scopes:
            openid: Grants the ability to receive a unique identifier for the user.
            profile: Grants access to user profile information.
            offline_access: Grants the ability to refresh access_token using the refresh token even when user is not present (not logged in).
        clientCredentials:
          tokenUrl: https://accounts.cmp.optimizely.com/o/oauth2/v1/token
          scopes: {}
externalDocs:
  description: Optimizely CMP Open API Documentation
  url: https://docs.developers.optimizely.com/content-marketing-platform/docs/open-api-introduction
x-refined-from:
- optimizely-cmp-openapi.yml
- optimizely-content-marketing-platform-optimizely-cmp-open-api-documentation-openapi.json
