openapi: 3.2.0
info:
  title: Optimizely Campaign REST Personalized Attachments API
  description: This documentation lists all available resources and endpoints of the Optimizely Campaign REST API.
  version: '1'
servers:
- url: https://api.campaign.episerver.net/rest
tags:
- name: Personalized Attachments
  description: Manage personalized email attachments
paths:
  /{clientId}/attachments/personalized:
    post:
      tags:
      - Personalized Attachments
      summary: Create a personalized attachment
      description: Create a personalized attachment. You can specify the attachment name and attachment file(s).
      operationId: createAttachment_1
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RestMultiPartRequestSchema'
      responses:
        '200':
          description: The attachment was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestPersonalizedAttachmentUpload'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestPersonalizedAttachmentUpload'
        '400':
          description: An erroneous request was sent.
        '406':
          description: The uploaded file is empty.
        '500':
          description: The request could not be processed successfully.
      security:
      - Authorization: []
components:
  schemas:
    RestMultiPartRequestSchema:
      required:
      - file
      type: object
      properties:
        file:
          type: string
          description: file to be uploaded
          format: binary
        name:
          type: string
          description: name of the attachment
    RestPersonalizedAttachmentUpload:
      type: object
      properties:
        uploadedFiles:
          type: array
          description: List of uploaded attachments
          items:
            $ref: '#/components/schemas/RestPersonalizedAttachment'
        token:
          type: string
          description: Personalized attachment token for all files uploaded - can be used when sending transactional mailings
    RestPersonalizedAttachment:
      type: object
      properties:
        fileName:
          type: string
          description: File name
        fileSize:
          type: integer
          description: File size in bytes
          format: int64
        id:
          type: integer
          description: Attachment ID
          format: int64
        contentType:
          type: string
          description: File content type
        expiresAt:
          type: string
          description: Expiry date
          format: date-time
        created:
          type: string
          description: Creation date
          format: date-time
      description: List of uploaded attachments
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
x-readme:
  explorer-enabled: true
  proxy-enabled: true
