openapi: 3.2.0
info:
  title: Optimizely Data Platform REST Profiles API
  description: The Optimizely Data Platform (ODP) REST API enables developers to integrate customer data with the Optimizely Data Platform. It provides endpoints for managing customer profiles, sending events, managing objects, and querying schema information. The API supports real-time data ingestion and retrieval using both public and private API keys, allowing developers to build personalized experiences powered by comprehensive customer intelligence.
  version: '3.0'
  contact:
    name: Optimizely Support
    url: https://support.optimizely.com
  termsOfService: https://www.optimizely.com/legal/terms/
servers:
- url: https://api.zaius.com/v3
  description: Optimizely Data Platform API v3 Server
security:
- publicApiKey: []
tags:
- name: Profiles
  description: Create, update, and retrieve customer profiles with unified identity resolution.
paths:
  /profiles:
    post:
      operationId: upsertProfile
      summary: Create or update a profile
      description: Creates a new customer profile or updates an existing one in ODP. Profiles are identified by one or more identifier fields such as email, customer_id, or vuid.
      tags:
      - Profiles
      security:
      - privateApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileInput'
      responses:
        '200':
          description: Profile successfully created or updated
        '400':
          description: Invalid profile data
        '401':
          description: Authentication credentials are missing or invalid
  /profiles/{identifier_field}/{identifier_value}:
    get:
      operationId: getProfile
      summary: Get a profile
      description: Retrieves a customer profile by a specific identifier field and value, such as email address or customer ID.
      tags:
      - Profiles
      security:
      - privateApiKey: []
      parameters:
      - $ref: '#/components/parameters/identifierField'
      - $ref: '#/components/parameters/identifierValue'
      - name: fields
        in: query
        required: false
        description: Comma-separated list of profile fields to return
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          description: Authentication credentials are missing or invalid
        '404':
          description: Profile not found
components:
  parameters:
    identifierValue:
      name: identifier_value
      in: path
      required: true
      description: The value of the identifier field
      schema:
        type: string
    identifierField:
      name: identifier_field
      in: path
      required: true
      description: The identifier field name (e.g., email, customer_id, vuid)
      schema:
        type: string
  schemas:
    Profile:
      type: object
      description: A customer profile in ODP
      properties:
        email:
          type: string
          format: email
          description: Customer email address
        customer_id:
          type: string
          description: Customer identifier
        vuid:
          type: string
          description: Visitor unique identifier
        first_name:
          type: string
          description: Customer first name
        last_name:
          type: string
          description: Customer last name
        city:
          type: string
          description: Customer city
        state:
          type: string
          description: Customer state or province
        country:
          type: string
          description: Customer country
        zip_code:
          type: string
          description: Customer postal code
        insights:
          type: object
          description: Computed customer insights and scores
          additionalProperties: true
        segments:
          type: array
          description: Segments the customer belongs to
          items:
            type: string
    ProfileInput:
      type: object
      description: Input for creating or updating a customer profile
      properties:
        identifiers:
          type: object
          description: Customer identifiers for matching
          additionalProperties:
            type: string
        attributes:
          type: object
          description: Profile attributes to set or update
          additionalProperties: true
  securitySchemes:
    publicApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Public API Key (Tracker ID) for sending data to ODP. May be exposed publicly on the internet.
    privateApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Private API Key for querying data from ODP. Must be kept confidential and used only in backend services.
externalDocs:
  description: Optimizely Data Platform API Documentation
  url: https://docs.developers.optimizely.com/optimizely-data-platform/reference/introduction
