openapi: 3.2.0
info:
  title: Optimizely Data Platform REST Segments API
  description: The Optimizely Data Platform (ODP) REST API enables developers to integrate customer data with the Optimizely Data Platform. It provides endpoints for managing customer profiles, sending events, managing objects, and querying schema information. The API supports real-time data ingestion and retrieval using both public and private API keys, allowing developers to build personalized experiences powered by comprehensive customer intelligence.
  version: '3.0'
  contact:
    name: Optimizely Support
    url: https://support.optimizely.com
  termsOfService: https://www.optimizely.com/legal/terms/
servers:
- url: https://api.zaius.com/v3
  description: Optimizely Data Platform API v3 Server
security:
- publicApiKey: []
tags:
- name: Segments
  description: Query customer segments and audience definitions.
paths:
  /segments:
    get:
      operationId: listSegments
      summary: List segments
      description: Returns a list of customer segments defined in ODP.
      tags:
      - Segments
      security:
      - privateApiKey: []
      responses:
        '200':
          description: Successfully retrieved segments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Segment'
        '401':
          description: Authentication credentials are missing or invalid
components:
  schemas:
    Segment:
      type: object
      description: A customer segment definition
      properties:
        name:
          type: string
          description: Name of the segment
        description:
          type: string
          description: Description of the segment criteria
        customer_count:
          type: integer
          description: Number of customers in the segment
  securitySchemes:
    publicApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Public API Key (Tracker ID) for sending data to ODP. May be exposed publicly on the internet.
    privateApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Private API Key for querying data from ODP. Must be kept confidential and used only in backend services.
externalDocs:
  description: Optimizely Data Platform API Documentation
  url: https://docs.developers.optimizely.com/optimizely-data-platform/reference/introduction
