openapi: 3.2.0
info:
  title: Optimizely Campaign REST Transactional mails API
  description: 'This documentation lists all available resources and endpoints of the Optimizely Campaign REST API. The REST API lets you integrate Optimizely Campaign with your business applications and third-party software. Use Optimizely Campaign features and functionalities remotely to manage your recipient data, campaigns and mailings.<br><br>To use the REST API, set up your Optimizely Campaign client first. See <a href="https://docs.developers.optimizely.com/optimizely-campaign/docs/getting-started#client-setup" target="_blank">Client setup</a> on Optimizely World.<br><br>The base URL for all API requests is as follows: <i>https://api.campaign.episerver.net/rest/{clientId}/{component}/{path}?{parameters}</i><br><br><b>Try it out</b><br>The "Try it out" feature lets you test the API before you implement it in the target system. To perform real API requests against your client, authorize with your Base64-encoded credentials. See <a href="https://docs.developers.optimizely.com/optimizely-campaign/docs/getting-started#authenticate" target="_blank">Authentication</a> on Optimizely World.<br><br>To learn more about the Optimizely Campaign REST API, see <a href="https://docs.developers.optimizely.com/optimizely-campaign/docs/rest-api" target="_blank">Optimizely World</a>.<br><br><br>If you want to import the API definition in Postman, download the <a href="https://api.campaign.episerver.net/rest/openapi.json" target="_blank" download> source file</a> and import it in Postman as a collection.'
  version: '1'
servers:
- url: https://api.campaign.episerver.net/rest
tags:
- name: Transactional mails
  description: Manage transactional mails that are triggered by a recipient action or event
paths:
  /{clientId}/transactionalmail:
    get:
      tags:
      - Transactional mails
      summary: Get information about all transactional mails
      description: Get detailed information about all transactional mails, such as status, type, starting date, successor node or grid location. You can filter for mailings assigned to a folder or limit the number of retrieved mailings.
      operationId: selectTransactionalCampaigns
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: Mailings offset <p><i>Default value :</i> 0</p>
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: 'Maximum number of transactional mails <p><i>Default value</i>: 100</p>'
        schema:
          type: integer
          format: int32
      - name: mediaType
        in: query
        description: 'Filter mailings by media type<p><i>Available values</i> : email, sms, letter, push</p>'
        schema:
          type: string
      - name: resultView
        in: query
        description: Choose whether to retrieve a DETAILED view including all nodes (messages, recipient lists, target groups) or a SUMMARY of metadata.<p><b>Note:</b> The more campaigns you have, the more time the detailed view takes to load.</p>
        schema:
          type: string
          default: SUMMARY
          enum:
          - SUMMARY
          - DETAILED
      - name: status
        in: query
        description: 'Filter mailings by status<p><i>Available values</i> : invalid, activationRequired, activated, canceled, paused, running, finished</p>'
        schema:
          type: string
      - name: sort
        in: query
        description: Sort result by specific criteria
        schema:
          type: string
          default: created
          enum:
          - id
          - name
          - description
          - status
          - created
          - modified
          - started
          - finished
      - name: folderId
        in: query
        description: Filter mailings assigned to a folder
        schema:
          type: integer
          format: int64
      - name: direction
        in: query
        description: Sort order
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        '200':
          description: A list of transactional mails of a client was retrieved (empty if none exists).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestSmartCampaignStreamingCollection'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestSmartCampaignStreamingCollection'
        '400':
          description: Invalid limit request. Change the limit to less than 10000.
      security:
      - Authorization: []
    post:
      tags:
      - Transactional mails
      summary: Create a transactional mail
      description: Create a transactional mail and add information such as subjects for target groups, media code or successor and predecessor node.
      operationId: createTransactionalMailing
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EventBasedMailingRequestData'
      responses:
        '201':
          description: The transactional mail was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestSmartCampaign'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestSmartCampaign'
        '400':
          description: The transactional mail could not be created. Ensure that the required parameters such as "recipientListIds", "mediaType", "subject", "senderAddress" or "content" are correctly added to the request.
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}:
    get:
      tags:
      - Transactional mails
      summary: Get information about a transactional mail
      description: Get detailed information about a transactional mail, such as status, type or date and time of creation.
      operationId: getTransactionalMailing
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The transactional mail was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestSmartCampaign'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestSmartCampaign'
      security:
      - Authorization: []
    delete:
      tags:
      - Transactional mails
      summary: Delete a transactional mail
      operationId: deleteTransactionalMailing
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: The transactional mail was deleted successfully.
        '409':
          description: The transactional mail could not be deleted because it contains started messages.
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/message:
    post:
      tags:
      - Transactional mails
      summary: Update a mailing
      description: Update information of a mailing, such as name, subject or content.
      operationId: updateCampaignMessage_3
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int64
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MessageRequestData'
      responses:
        '200':
          description: The mailing was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestMessageNode'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestMessageNode'
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/message/attachments:
    post:
      tags:
      - Transactional mails
      summary: Add attachments into a campaign message. Only applicable for campaign message of type email
      description: Add attachments into a campaign message. With this operation you can add a single, or multiple attachments into a campaign message.
      operationId: addAttachments_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int64
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                attachmentIds:
                  type: array
                  description: A comma separated list of attachment ids to be added
                  items:
                    type: integer
                    format: int64
            encoding:
              attachmentIds:
                explode: false
      responses:
        '200':
          description: The attachments were successfully added into campaign message.
        '400':
          description: The "attachmentIds" parameter is either empty or invalid, or the campaign mailing is of type FAX.
        '404':
          description: The campaign mailing was not found.
        '405':
          description: The campaign message is not of type EMAIL.
      security:
      - Authorization: []
    delete:
      tags:
      - Transactional mails
      summary: Delete attachments of a campaign message. Only applicable for campaign message of type email
      operationId: deleteAttachments_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int64
      - name: attachmentIds
        in: query
        description: A comma separated list of attachment ids to be deleted
        required: true
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: The attachments were successfully deleted from campaign message.
        '400':
          description: The "attachmentIds" parameter is empty, or the campaign mailing is of type FAX.
        '404':
          description: The campaign mailing was not found.
        '405':
          description: The campaign message is not of type EMAIL.
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/message/content:
    get:
      tags:
      - Transactional mails
      summary: Get the content of a mailing (email)
      description: Get the content of a mailing (email) and define the content type to be delivered.
      operationId: getCampaignMessageContent_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: 'Controls which content type is used <p><i>Available values</i> : text/plain, text/html<p><i>Default value</i> : text/plain</p><p>Does not work with the "Try it out" feature.</p>'
        schema:
          type: string
      - name: source
        in: query
        schema:
          type: string
          default: message
          enum:
          - EDITOR
          - MESSAGE
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The content of the mailing (in the indicated content type) was retrieved successfully.
        '404':
          description: No content could be found for the indicated content type. Ensure that the "Accept" parameter has the correct content type and the content exists.
        '406':
          description: The content type is not supported. Ensure that the "Accept" parameter has the correct content type.
      security:
      - Authorization: []
    post:
      tags:
      - Transactional mails
      summary: Update the content of a mailing
      description: 'Update the content of a mailing. You can transmit plain text, html, or multipart content that consists of HTML and plain text. See <a href="https://world.episerver.com/blogs/philipp-gaska/dates/2021/6/updating-mailing-content-via-rest-api" target="_blank">Updating mailing content via REST API</a> on Optimizely World. <b>Note</b>: You can only update the content of mailings created via REST API. This operation is also not suitable for confirmation mailings.'
      operationId: storeCampaignMessageContent_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MultiRequest'
      responses:
        '200':
          description: The mailing content was updated successfully.
        '409':
          description: The mailing content could not be updated because of a general error.
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/message/test/{testMailingId}:
    get:
      tags:
      - Transactional mails
      summary: Get information about the sending status of all recipients of a test mailing
      description: Get detailed information about the sending status of all recipients of a test mailing, such as enqueued, sending, sent or failed.
      operationId: getTestMailingReport_3
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int64
      - name: testMailingId
        in: path
        description: Test mailing ID
        required: true
        schema:
          type: integer
          format: int32
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The report was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestMailingReport'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/TestMailingReport'
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/message/tracking/links/{trackingLinkId}:
    get:
      tags:
      - Transactional mails
      summary: Get information about a tracking link of a mailing
      description: Get detailed information about a tracking link of a mailing, such as ID, URL or link occurrences in the text version.
      operationId: getTrackingLink_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int64
      - name: trackingLinkId
        in: path
        description: Tracking link ID
        required: true
        schema:
          type: integer
          format: int64
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The tracking link was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestTrackingLink'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestTrackingLink'
      security:
      - Authorization: []
    post:
      tags:
      - Transactional mails
      summary: Update the tracking link configuration of a mailing
      operationId: updateLinkTracking_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int64
      - name: trackingLinkId
        in: path
        description: Tracking link ID
        required: true
        schema:
          type: integer
          format: int64
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TrackingLinkConfigurationRequestData'
      responses:
        '200':
          description: The tracking link configuration was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestTrackingLink'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestTrackingLink'
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/message/tracking/links:
    get:
      tags:
      - Transactional mails
      summary: Get information about all tracking links of a mailing
      description: Get detailed information about all tracking links of a mailing, such as ID, URL or link occurrences in the text version.
      operationId: getTrackingLinks_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int64
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The tracking links were retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RestTrackingLink'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RestTrackingLink'
        '400':
          description: The number of tracking links exceeded the maximum of 3000.
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/message/tracking:
    get:
      tags:
      - Transactional mails
      summary: Get information about the tracking configuration of a mailing
      operationId: getTrackingConfiguration_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int64
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The tracking configuration was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestTrackingConfiguration'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestTrackingConfiguration'
      security:
      - Authorization: []
    post:
      tags:
      - Transactional mails
      summary: Update the tracking configuration of a mailing
      operationId: updateTrackingConfiguration_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int64
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TrackingConfigurationRequestData'
      responses:
        '200':
          description: The tracking configuration was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestTrackingConfiguration'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestTrackingConfiguration'
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/recipientLists:
    get:
      tags:
      - Transactional mails
      summary: Get information about a "Recipients" node
      description: Get detailed information about a "Recipients" node, such as node ID, successor node ID or grid location.
      operationId: getRecipientListsNodeForSCMailing_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The "Recipients" node was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestRecipientListsNode'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestRecipientListsNode'
        '404':
          description: 'The "Recipients" node could not be found. Ensure that the required parameters such as "campaignId" or "nodeId" are correct and the "Recipients" node exists. '
      security:
      - Authorization: []
    post:
      tags:
      - Transactional mails
      summary: Create or update a "Recipients" node
      description: Create or update a "Recipients" node. The "recipientListIds" parameter is only required for updating.
      operationId: createOrUpdateRecipientListsNode_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RecipientListsRequestData'
      responses:
        '200':
          description: The "Recipient" node was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestRecipientListsNode'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestRecipientListsNode'
        '201':
          description: The "Recipient" node was created successfully.
        '404':
          description: The "Recipient" node could not be found. Ensure that the required parameters such as "campaignId" or "recipientListIds" are correct and the "Recipients" node exists.
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/test/{testMailingId}:
    get:
      tags:
      - Transactional mails
      summary: Get information about the sending status of all recipients of a test mailing
      description: Get detailed information about the sending status of all recipients of a test mailing, such as enqueued, sending, sent or failed.
      operationId: getTestMailingReport_4
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int64
      - name: testMailingId
        in: path
        description: Test mailing ID
        required: true
        schema:
          type: integer
          format: int32
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The report was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestMailingReport'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/TestMailingReport'
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/test:
    post:
      tags:
      - Transactional mails
      summary: Send a test mailing
      description: Send a test mailing to check content, layout or target groups before sending the actual mailing.
      operationId: startTestMailing_4
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: integer
          format: int64
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TestMailingRequestData'
      responses:
        '202':
          description: The test message was sent successfully. The response contains a report on the recipients included in the test mailing (check "validRecipientAddresses" field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestMailingStartedReport'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/TestMailingStartedReport'
        '400':
          description: At least one request parameter is not valid
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/send:
    post:
      tags:
      - Transactional mails
      summary: Send a transactional mail
      description: Send a transactional mail. You can specify attachment token or recipient data.
      operationId: sendTransactionalMailing
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendTransactionalMailingRequestData'
      responses:
        '202':
          description: The transactional mail was accepted and is sent asynchronously. To retrieve the sending status of the transactional mail, use the returned mailId and the GET status operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestMailId'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestMailId'
        '400':
          description: The required recipientId/recipientListId is not provided and the recipient list is not assigned to the mailing. Add the required parameters and try again.
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/report:
    get:
      tags:
      - Transactional mails
      summary: Get a campaign report
      description: Get a detailed campaign report containing information such as number of recipients, opens, clicks, bounces or unsubscribes.
      operationId: getReport_2
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The report was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignMailingRestReport'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/CampaignMailingRestReport'
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/start:
    post:
      tags:
      - Transactional mails
      summary: Start a transactional mail
      operationId: startTransactionalMailing
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The transactional mail was started successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestSmartCampaign'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestSmartCampaign'
        '409':
          description: The transactional mail could not be started because it must be in status "Activated". Please check the status of the mailing.
      security:
      - Authorization: []
  /{clientId}/transactionalmail/{transactionalMailId}/stop:
    post:
      tags:
      - Transactional mails
      summary: Stop a transactional mail
      operationId: stopTransactionalMailing
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: transactionalMailId
        in: path
        description: Transactional mail ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The transactional mail was stopped successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestSmartCampaign'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestSmartCampaign'
        '409':
          description: The transactional mail could not be stopped because it must be in status "Started". Please check the status of the mailing.
      security:
      - Authorization: []
  /{clientId}/transactionalmail/status:
    get:
      tags:
      - Transactional mails
      summary: Get the sending status of a sent transactional mail
      operationId: retrieveSendStatus
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      - name: mailId
        in: query
        description: Corresponding MailID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'Sending status. Possible values: enqueued, sending, sent, vetoed, wrong_mailing_status, syntax_error, blacklisted, filtered, too_many_bounces, unsubscribed, could_not_be_sent. If a message was sent more than 14 days ago, the value is reset to “enqueued”.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestSendStatus'
            application/vnd.optivo.broadmail.v1+json:
              schema:
                $ref: '#/components/schemas/RestSendStatus'
      security:
      - Authorization: []
components:
  schemas:
    SendTransactionalMailingRequestData:
      required:
      - recipientId
      - recipientListId
      type: object
      properties:
        personalizedAttachmentsToken:
          type: string
          description: Token of the attachment to be sent
        data:
          type: string
          description: 'Recipient data. Configure "data.[attribute]" according to the corresponding recipient list field. <br>Example:<br> data.firstname: John<br>data.lastname: Smith<br>data.email: smith@example.com (only required if the email list field is not the address field)<br><p>Does not work with the "Try it out" feature.</p>'
        recipientId:
          type: string
          description: Email address or telephone number (for SMS). In case the id field is the address field in the recipient list the recipientId is sufficient. If not you have to provide the address in the request body.
        recipientListId:
          type: integer
          description: Transactional recipient list to which the recipient will be added
          format: int64
    RestTrackingLink:
      type: object
      properties:
        id:
          type: integer
          description: Tracking link ID
          format: int64
        url:
          type: string
          description: Tracking link URL
        htmlTracking:
          type: string
          description: Tracking state of a link in the HTML version
          enum:
          - DEFAULT
          - ENABLED
          - DISABLED
        textTracking:
          type: string
          description: Tracking state of a link in the text version
          enum:
          - DEFAULT
          - ENABLED
          - DISABLED
        description:
          type: string
          description: Tracking link description
        htmlOccurrences:
          type: integer
          description: Link occurrences in the HTML version
          format: int32
        textOccurrences:
          type: integer
          description: Link occurrences in the text version
          format: int32
        clickProfileIds:
          type: array
          description: Click profile IDs
          items:
            type: integer
            description: Click profile IDs
            format: int64
        links:
          type: array
          description: Restful links
          items:
            type: object
            properties:
              uriBuilder:
                type: object
              rels:
                type: array
                items:
                  type: string
              rel:
                type: string
              type:
                type: string
              params:
                type: object
                additionalProperties:
                  type: string
              title:
                type: string
              uri:
                type: string
                format: uri
            description: Restful links
    RestRecipientListsNode:
      type: object
      properties:
        nodeId:
          type: string
          description: Node ID
        successorNodeId:
          type: string
          description: Successor node ID
        recipientListIds:
          type: array
          description: List of recipient list IDs
          items:
            type: integer
            description: List of recipient list IDs
            format: int64
        links:
          type: array
          description: Links for further requests
          items:
            type: object
            properties:
              uriBuilder:
                type: object
              rels:
                type: array
                items:
                  type: string
              rel:
                type: string
              type:
                type: string
              params:
                type: object
                additionalProperties:
                  type: string
              title:
                type: string
              uri:
                type: string
                format: uri
            description: Links for further requests
        gridLocation:
          $ref: '#/components/schemas/Point'
    RestMailId:
      type: object
      properties:
        mailId:
          type: string
          description: Encoded mail ID
    RestRecipients:
      type: object
      properties:
        net:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
        skipped:
          type: integer
          format: int32
        inQueue:
          type: integer
          format: int32
      description: Number of total, skipped and in-queue recipients
    TrackingLinkConfigurationRequestData:
      type: object
      properties:
        htmlTracking:
          type: string
          description: Tracking state of a link in the HTML version
          enum:
          - DEFAULT
          - ENABLED
          - DISABLED
        textTracking:
          type: string
          description: Tracking state of a link in the text version
          enum:
          - DEFAULT
          - ENABLED
          - DISABLED
        clickProfileIds:
          type: array
          description: IDs of relevant click profiles. An empty list will remove all entries.
          items:
            type: integer
            description: IDs of relevant click profiles. An empty list will remove all entries.
            format: int64
        description:
          type: string
          description: Tracking link description
    RestClicks:
      type: object
      properties:
        total:
          type: integer
          format: int32
        unique:
          type: integer
          format: int32
      description: Number of unique and total clicks
    Filter:
      type: object
      properties:
        name:
          type: string
    RecipientListsRequestData:
      required:
      - recipientListIds
      type: object
      properties:
        recipientListIds:
          type: array
          description: Comma-separated list of recipient list IDs
          items:
            type: integer
            description: Comma-separated list of recipient list IDs
            format: int64
        successorNodeId:
          type: string
          description: Successor node
    RestSmartCampaignStreamingCollection:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/RestSmartCampaign'
        links:
          type: array
          writeOnly: true
          items:
            $ref: '#/components/schemas/RestApiLink'
        count:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
    CampaignMailingRestReport:
      type: object
      properties:
        campaignId:
          type: integer
          description: Mailing ID
          format: int64
        campaignName:
          type: string
          description: Mailing name
        recipients:
          $ref: '#/components/schemas/RestRecipients'
        bounces:
          $ref: '#/components/schemas/RestBounces'
        unsubscribes:
          type: integer
          description: Number of unique unsubscribes
          format: int32
        opens:
          $ref: '#/components/schemas/RestOpens'
        clicks:
          $ref: '#/components/schemas/RestClicks'
        links:
          type: array
          items:
            type: object
            properties:
              uriBuilder:
                type: object
              rels:
                type: array
                items:
                  type: string
              rel:
                type: string
              type:
                type: string
              params:
                type: object
                additionalProperties:
                  type: string
              title:
                type: string
              uri:
                type: string
                format: uri
    MultiRequest:
      type: object
      properties:
        content:
          type: string
          description: New mailing content to be uploaded
    MessageRequestData:
      type: object
      properties:
        deepLinkName:
          type: string
          description: This parameter is deprecated. Use "payload.[name]" instead.
        mediaType:
          type: string
          description: Media type of the mailing (required only for creation)
          enum:
          - email
          - sms
          - push
        subjectForTargetGroup:
          type: string
          description: Subject for a specific target group. Set "subject.[targetGroupId]" in request data (only email).<p>Does not work with the "Try it out" feature.</p>
        replyToAddress:
          type: string
          description: Reply-to address (only email)
        archiveEnabled:
          type: boolean
          description: Toggle whether a mailing can be archived or not
        iconMetaData:
          type: string
          description: Icon meta data. Configure "icon.[attribute]".<p>Does not work with the "Try it out" feature.</p>
        archivePeriod:
          type: string
          description: Period suggesting for how long a mailing should be archived
          enum:
          - ONE_MONTH
          - TWO_MONTHS
          - THREE_MONTHS
          - SIX_MONTHS
          - ONE_YEAR
          - TWO_YEARS
        resetReplyToAddress:
          type: boolean
          description: If true, the local part of the reply-to address is reset
        resetTargetedSubjects:
          type: boolean
          description: If true, all target group subjects are deleted (only email)
        replyToName:
          type: string
          description: Reply-to mailing name (only email)
        resetDeeplinks:
          type: boolean
          description: This parameter is deprecated. Use "resetPayload" instead.
        resetPayload:
          type: boolean
          description: If true, all payload parameters are deleted. All set parameters within this request remain (only Web Push mailings).
        name:
          type: string
          description: Mailing name
        content:
          type: string
          description: Mailing content (plain text)
        payload:
          type: string
          description: Payload parameters for Mobile Push and Web Push. Set "payload.[name]" in request data.<p>Does not work with the "Try it out" feature.</p>
        description:
          type: string
          description: Mailing description
        senderName:
          type: string
          description: Mailing sender name (only email)
        subject:
          type: string
          description: Mailing subject
        mediaCode:
          type: string
          description: Media code (only email)
        expiry:
          type: string
          description: Expiry date (only push mailings, use ISO 8601 format without milliseconds, e.g. 2022-03-03T08:45:07+01:00)
          format: date-time
        image:
          type: string
          description: Image for the Web Push message
        senderAddress:
          type: string
          description: Mailing sender address
        clickAction:
          type: string
          description: Click action for the Web Push message
        pushType:
          type: string
          description: Push type
          enum:
          - MOBILE
          - WEB
        icon:
          type: string
          description: Icon for the Web Push message
        predecessorNodeId:
          type: string
          description: Predecessor node
        successorNodeId:
          type: string
          description: Successor node
    RestOpens:
      type: object
      properties:
        total:
          type: integer
          format: int32
        unique:
          type: integer
          format: int32
      description: Number of unique and total opens
    EventBasedMailingRequestData:
      required:
      - content
      - recipientListIds
      - senderAddress
      - subject
      type: object
      properties:
        recipientListIds:
          type: array
          description: Comma-separated list of recipient list IDs
          items:
            type: integer
            description: Comma-separated list of recipient list IDs
            format: int64
        content:
          type: string
          description: Mailing content (plain text)
        subject:
          type: string
          description: Mailing subject
        senderAddress:
          type: string
          description: Mailing sender address
        deepLinkName:
          type: string
          description: This parameter is deprecated. Use "payload.[name]" instead.
        mediaType:
          type: string
          description: Media type of the mailing (required only for creation)
          enum:
          - email
          - sms
          - push
        subjectForTargetGroup:
          type: string
          description: Subject for a specific target group. Set "subject.[targetGroupId]" in request data (only email).<p>Does not work with the "Try it out" feature.</p>
        replyToAddress:
          type: string
          description: Reply-to address (only email)
        archiveEnabled:
          type: boolean
          description: Toggle whether a mailing can be archived or not
        iconMetaData:
          type: string
          description: Icon meta data. Configure "icon.[attribute]".<p>Does not work with the "Try it out" feature.</p>
        archivePeriod:
          type: string
          description: Period suggesting for how long a mailing should be archived
          enum:
          - ONE_MONTH
          - TWO_MONTHS
          - THREE_MONTHS
          - SIX_MONTHS
          - ONE_YEAR
          - TWO_YEARS
        resetReplyToAddress:
          type: boolean
          description: If true, the local part of the reply-to address is reset
        replyToName:
          type: string
          description: Reply-to mailing name (only email)
        resetPayload:
          type: boolean
          description: If true, all payload parameters are deleted. All set parameters within this request remain (only Web Push mailings).
        name:
          type: string
          description: Mailing name
        payload:
          type: string
          description: Payload parameters for Mobile Push and Web Push. Set "payload.[name]" in request data.<p>Does not work with the "Try it out" feature.</p>
        description:
          type: string
          description: Mailing description
        senderName:
          type: string
          description: Mailing sender name (only email)
        mediaCode:
          type: string
          description: Media code (only email)
        expiry:
          type: string
          description: Expiry date (only push mailings, use ISO 8601 format without milliseconds, e.g. 2022-03-03T08:45:07+01:00)
          format: date-time
        image:
          type: string
          description: Image for the Web Push message
        clickAction:
          type: string
          description: Click action for the Web Push message
        pushType:
          type: string
          description: Push type
          enum:
          - MOBILE
          - WEB
        icon:
          type: string
          description: Icon for the Web Push message
    RestMessageNode:
      type: object
      properties:
        nodeId:
          type: string
          description: Node ID
        name:
          type: string
          description: Mailing name
        mailingId:
          type: integer
          description: Mailing ID
          format: int64
        description:
          type: string
          description: Mailing description
        mediaType:
          type: string
          description: Media type of the mailing
        status:
          type: string
          description: Current status of the mailing
          enum:
          - invalid
          - activationRequired
          - activated
          - canceled
          - paused
          - running
          - finished
        created:
          type: string
          description: Creation date
          format: date-time
        modified:
          type: string
          description: Modification date
          format: date-time
        started:
          type: string
          description: Start date of the mailing
          format: date-time
        finished:
          type: string
          description: Finish date of the mailing
          format: date-time
        senderAddress:
          type: string
          description: Email address of the sender
        senderName:
          type: string
          description: Sender name
        replyToAddress:
          type: string
          description: Email address for reply emails
        replyToName:
          type: string
          description: Name for reply emails
        subject:
          type: object
          additionalProperties:
            type: string
        mediaCode:
          type: string
          description: Media code of the mailing
        format:
          type: string
          description: Mailing format
        dispatchOption:
          type: string
          description: Dispatch options of the print mailing
        dispatchStrategyOption:
          type: string
          description: Dispatch strategy of the print mailing
        accumulateMessagesForDays:
          type: integer
          description: Number of messages per day
          format: int32
        pushType:
          type: string
          description: Push type (push message)
          enum:
          - MOBILE
          - WEB
        icon:
          type: string
          description: Icon (push message)
        clickAction:
          type: string
          description: Click action (push message)
        archiveEnabled:
          type: boolean
          description: Is mail archiving enabled
        archivePeriod:
          type: string
          description: Mail archiving period
          enum:
          - ONE_MONTH
          - TWO_MONTHS
          - THREE_MONTHS
          - SIX_MONTHS
          - ONE_YEAR
          - TWO_YEARS
        smsParts:
          type: integer
          description: Number of SMS parts
          format: int32
        deeplinks:
          type: object
          additionalProperties:
            type: string
            description: Deeplinks of the push message
          description: Deeplinks of the push message
        links:
          type: array
          description: Restful links
          items:
            type: object
            properties:
              uriBuilder:
                type: object
              rels:
                type: array
                items:
                  type: string
              rel:
                type: string
              type:
                type: string
              params:
                type: object
                additionalProperties:
                  type: string
              title:
                type: string
              uri:
                type: string
                format: uri
            description: Restful links
        content:
          type: string
          description: Mailing content
        payload:
          type: object
          additionalProperties:
            type: string
            description: Payload of the push message
          description: Payload of the push message
        contentType:
          type: object
          properties:
            type:
              type: string
            subtype:
              type: string
            parameters:
              type: object
              additionalProperties:
                type: string
            wildcardType:
              type: boolean
            wildcardSubtype:
              type: boolean
          description: Content type of the mailing
        expiry:
          type: string
          description: Expiry date and time of the push message
          format: date-time
        attachmentIds:
          type: array
          description: Comma-separated list of attachment IDs
          items:
            type: integer
            description: Comma-separated list of attachment IDs
            format: int64
        gridLocation:
          $ref: '#/components/schemas/Point'
    RestBounces:
      type: object
      properties:
        hard:
          type: integer
          format: int32
        soft:
          type: integer
          format: int32
      description: Number of hard and soft bounces
    TrackingConfigurationRequestData:
      type: object
      properties:
        defaultTextLinkTrackingEnabled:
          type: boolean
          description: If true, links are tracked for the text version by default
        defaultHtmlLinkTrackingEnabled:
          type: boolean
          description: If true, links are tracked for the HTML version by default
        clickTrackingEnabled:
          type: boolean
          description: If true, clicks are tracked
        openTrackingEnabled:
          type: boolean
          description: If true, opens are tracked
        openTrackingOfPartiallyLoadedMessagesEnabled:
          type: boolean
          description: If true, opens of partially loaded messages are tracked
    RestSmartCampaign:
      type: object
      properties:
        id:
          type: integer
          description: Campaign ID
          format: int64
        name:
          type: string
          description: Campaign name
        mailingGroupId:
          type: integer
          description: Client ID
          format: int64
        description:
          type: string
          description: Mailing description
        status:
          type: string
          description: Current campaign status
          enum:
          - invalid
          - activationRequired
          - activated
          - canceled
          - paused
          - running
          - finished
        type:
          type: string
          description: Campaign type
          enum:
          - regular
          - event
          - confirmation
        created:
          type: string
          description: Creation date
          format: date-time
        modified:
          type: string
          description: Modification date
          format: date-time
        started:
          type: string
          description: Start date of the campaign
          format: date-time
        finished:
          type: string
          description: Finish date of the campaign
          format: date-time
        links:
          type: array
          items:
            type: object
            properties:
              uriBuilder:
                type: object
              rels:
                type: array
                items:
                  type: string
              rel:
                type: string
              type:
                type: string
              params:
                type: object
                additionalProperties:
                  type: string
              title:
                type: string
              uri:
                type: string
                format: uri
        recipientLists:
          $ref: '#/components/schemas/RestRecipientListsNode'
        targetGroups:
          type: array
          items:
            $ref: '#/components/schemas/RestTargetGroupNode'
        messages:
          type: array
          items:
            $ref: '#/components/schemas/RestMessageNode'
        message:
          $ref: '#/components/schemas/RestMessageNode'
    RestTrackingConfiguration:
      type: object
      properties:
        openTracking:
          type: boolean
          description: If true, opens are tracked
        clickTracking:
          type: boolean
          description: If true, clicks are tracked
        openTrackingOfPartiallyLoadedMessages:
          type: boolean
          description: If true, opens of partially loaded messages are tracked
        defaultHtmlLinkTracking:
          type: boolean
          description: If true, links are tracked for the HTML version by default
        defaultTextLinkTracking:
          type: boolean
          description: If true, links are tracked for the text version by default
        links:
          type: array
          description: Restful links
          items:
            type: object
            properties:
              uriBuilder:
                type: object
              rels:
                type: array
                items:
                  type: string
              rel:
                type: string
              type:
                type: string
              params:
                type: object
                additionalProperties:
                  type: string
              title:
                type: string
              uri:
                type: string
                format: uri
            description: Restful links
    TestMailingStartedReport:
      type: object
      properties:
        mailingId:
          type: integer
          description: Mailing ID
          format: int64
        validRecipientAddresses:
          type: array
          description: Valid recipient addresses
          items:
            type: string
            description: Valid recipient addresses
        userIdsOfRecipientsWithoutValidAddresses:
          type: array
          description: User IDs of recipients without valid addresses
          items:
            type: string
            description: User IDs of recipients without valid addresses
        blacklistedRecipientAddresses:
          type: array
          description: Blacklisted recipient addresses
          items:
            type: string
            description: Blacklisted recipient addresses
        links:
          type: array
          items:
            type: object
            properties:
              uriBuilder:
                type: object
              rels:
                type: array
                items:
                  type: string
              rel:
                type: string
              type:
                type: string
              params:
                type: object
                additionalProperties:
                  type: string
              title:
                type: string
              uri:
                type: string
                format: uri
    RestApiLink:
      type: object
      properties:
        href:
          type: string
        rel:
          type: string
    Point:
      type: object
      properties:
        x:
          type: integer
          format: int32
          xml:
            attribute: true
        y:
          type: integer
          format: int32
          xml:
            attribute: true
      description: Grid location point
      xml:
        name: Point
    TestMailingReport:
      type: object
      properties:
        recipientStatus:
          type: object
          additionalProperties:
            type: string
            description: Sending status of the recipients
            enum:
            - enqueued
            - sending
            - sent
            - failed
          description: Sending status of the recipients
        mailingId:
          type: integer
          description: Mailing ID
          format: int64
        reportDate:
          type: string
          description: Report date
          format: date-time
        mediaType:
          type: string
          description: Media type
        status:
          type: string
          description: Current status of the mailing
          enum:
          - invalid
          - activationRequired
          - activated
          - canceled
          - paused
          - running
          - finished
        started:
          type: string
          description: Start date of the mailing
          format: date-time
        finished:
          type: string
          description: Finish date of the mailing
          format: date-time
    RestTargetGroupNode:
      type: object
      properties:
        nodeId:
          type: string
          description: Node ID
        successorNodeId:
          type: string
          description: Successor node ID
        name:
          type: string
          description: Target group name
        targetGroup:
          $ref: '#/components/schemas/Filter'
        links:
          type: array
          description: Links for further requests
          items:
            type: object
            properties:
              uriBuilder:
                type: object
              rels:
                type: array
                items:
                  type: string
              rel:
                type: string
              type:
                type: string
              params:
                type: object
                additionalProperties:
                  type: string
              title:
                type: string
              uri:
                type: string
                format: uri
            description: Links for further requests
        gridLocation:
          $ref: '#/components/schemas/Point'
    RestSendStatus:
      type: object
      properties:
        sendStatus:
          type: string
          description: Sending status
        mailId:
          type: string
          description: Encoded mail ID
    TestMailingRequestData:
      required:
      - recipientIds
      - recipientListId
      type: object
      properties:
        recipientIds:
          type: array
          description: Comma-separated list of recipient IDs from the provided recipient list ("recipientListId"). If a recipient is not found in the recipient list, no test mailing will be sent to this recipient.
          items:
            type: string
            description: Comma-separated list of recipient IDs from the provided recipient list ("recipientListId"). If a recipient is not found in the recipient list, no test mailing will be sent to this recipient.
        mimeType:
          type: string
          description: Mime type of the mailing during sending (use empty string to use the mime type of the mailing).
          example: text/plain, text/html, text/multipart
        subject:
          type: string
          description: Subject of the test mailing (if mailing has a subject).
        senderAddress:
          type: string
          description: Sender address for test mailing (if mailing has a sender address). Must not be empty if specified.
        recipientListId:
          type: string
          description: Recipient list ID of the recipient list to be used for the test mailing.
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
x-readme:
  explorer-enabled: true
  proxy-enabled: true
