openapi: 3.2.0
info:
  title: Optimizely Export Credentials API
  version: '2.0'
  description: Get credentials to access experimentation events export data.
servers:
- url: https://api.optimizely.com/v2
security:
- apiKey: []
- OAuth2:
  - read
  - write
tags:
- description: Get credentials to access experimentation events export data.
  name: Export Credentials
paths:
  /export/credentials:
    get:
      description: Get temporary credentials for experimentation events export data hosted on AWS.
      operationId: get_enriched_events_export_credentials
      parameters:
      - description: Duration of the AWS credentials token. Use [H,h] for hours or [M,m] for minutes. Minimum is 15m and Maximum is 1h. Usage 1h.
        in: query
        name: duration
        required: false
        schema:
          default: 1h
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/E3Credentials'
          description: Return AWS credentials
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid/Expired credentials
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get AWS credentials to access experimentation events export data.
      tags:
      - Export Credentials
  /export/credentials/gcp:
    get:
      description: Get a temporary access token for experimentation events export data hosted on GCP. The credentials are valid for one hour.
      operationId: get_gcp_e3_credentials
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/E3CredentialsGCP'
          description: Return GCP credentials
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid/Expired credentials
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get GCP credentials to access experimentation events export data.
      tags:
      - Export Credentials
components:
  schemas:
    Error:
      properties:
        code:
          type: string
        message:
          type: string
        messages:
          type: object
        uuid:
          format: uuid
          type: string
      type: object
    CredentialsItem:
      description: Credentials item containing information on access key and secrets
      properties:
        accessKeyId:
          description: AWS access key
          example: ASIA5QMPA3WZQJNOABC
          type: string
        expiration:
          description: expiration time of the token in epoch time
          example: 1591026407394
          format: int64
          type: integer
        secretAccessKey:
          description: AWS secret access key
          example: 1234567qzerHJDWdIDGixoTYfqC1dZp
          type: string
        sessionToken:
          description: AWS session token
          example: FwoGZXIvYXdzEOT//////////wEaDH6J
          type: string
      type: object
    E3CredentialsGCP:
      properties:
        token:
          description: GCP access token. Valid for one hour.
          example: ya29.c.c0AZ4bNpa9n9ekegHmKSj2LosErXyUBWboSEsjGLOmcae5XBfHovPKb0VkjHm3D1WP_4hJrRi46rnfJ7cRW5bWyfv_P8qO3bGXnGi2Xw8HYNmP2..........
          type: string
        uri:
          description: URI of the GCS bucket for the account
          example: gs://optimizely-e3-12345
          type: string
      type: object
    E3Credentials:
      properties:
        credentials:
          $ref: '#/components/schemas/CredentialsItem'
        s3Path:
          description: s3 path of the enriched events dataset of the account
          example: s3://optimizely-events-data/v1/account_id=123123123
          type: string
      type: object
  securitySchemes:
    OAuth2:
      description: Write applications that authenticate with the REST API via OAuth 2.0. Or, to authenticate using a personal token, see https://docs.developers.optimizely.com/web/docs/personal-token
      flows:
        authorizationCode:
          authorizationUrl: https://app.optimizely.com/oauth2/authorize
          scopes:
            all: Full access to your account
          tokenUrl: https://app.optimizely.com/oauth2/token
      type: oauth2
    apiKey:
      scheme: bearer
      type: http
