openapi: 3.2.0
info:
  title: Optimizely Graph 🔒 OIDC API
  version: 3.24.0
  description: Optimizely Graph API definition
  license:
    name: ' '
  contact:
    name: Documentation
    url: https://cg.optimizely.com/
servers:
- url: https://prod.cg.optimizely.com
tags:
- name: OIDC
paths:
  /api/config/oidc:
    put:
      operationId: upsert-OidcConfigHandler
      responses:
        '204':
          description: No content
      description: Enable OIDC support for the current account
      summary: Upsert OIDC config
      tags:
      - OIDC
      security:
      - epi-hmac: []
      - Basic: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenClaims'
    delete:
      operationId: delete-OidcConfigHandler
      responses:
        '204':
          description: No content
      description: Delete OIDC config for the current account
      summary: Delete OIDC config
      tags:
      - OIDC
      security:
      - epi-hmac: []
      - Basic: []
      parameters: []
components:
  schemas:
    TokenClaims:
      properties:
        audience:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
        issuer:
          type: string
      required:
      - audience
      - issuer
      type: object
      additionalProperties: false
  securitySchemes:
    epi-single:
      type: apiKey
      name: auth
      in: query
      description: Single key authentication
    epi-hmac:
      type: apiKey
      name: Authorization
      in: header
      description: HMAC authentication (`epi-hmac xxx`)
    Basic:
      type: http
      scheme: basic
      description: HMAC credentials
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token
