openapi: 3.2.0
info:
  title: Optimizely Data Platform REST Schema API
  description: The Optimizely Data Platform (ODP) REST API enables developers to integrate customer data with the Optimizely Data Platform. It provides endpoints for managing customer profiles, sending events, managing objects, and querying schema information. The API supports real-time data ingestion and retrieval using both public and private API keys, allowing developers to build personalized experiences powered by comprehensive customer intelligence.
  version: '3.0'
  contact:
    name: Optimizely Support
    url: https://support.optimizely.com
  termsOfService: https://www.optimizely.com/legal/terms/
servers:
- url: https://api.zaius.com/v3
  description: Optimizely Data Platform API v3 Server
security:
- publicApiKey: []
tags:
- name: Schema
  description: Manage the ODP schema including domain objects and their fields.
paths:
  /schema/objects:
    get:
      operationId: listSchemaObjects
      summary: List schema objects
      description: Returns a list of all domain object types defined in the ODP schema, including their fields and configurations.
      tags:
      - Schema
      security:
      - privateApiKey: []
      responses:
        '200':
          description: Successfully retrieved schema objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SchemaObject'
        '401':
          description: Authentication credentials are missing or invalid
  /schema/objects/{object_type}:
    get:
      operationId: getSchemaObject
      summary: Get a schema object
      description: Retrieves the schema definition for a specific domain object type.
      tags:
      - Schema
      security:
      - privateApiKey: []
      parameters:
      - $ref: '#/components/parameters/objectType'
      responses:
        '200':
          description: Successfully retrieved the schema object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaObject'
        '401':
          description: Authentication credentials are missing or invalid
        '404':
          description: Schema object not found
    post:
      operationId: createSchemaObject
      summary: Create a schema object
      description: Creates a new domain object type in the ODP schema.
      tags:
      - Schema
      security:
      - privateApiKey: []
      parameters:
      - $ref: '#/components/parameters/objectType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaObjectInput'
      responses:
        '201':
          description: Schema object successfully created
        '400':
          description: Invalid schema object definition
        '401':
          description: Authentication credentials are missing or invalid
  /schema/objects/{object_type}/fields:
    post:
      operationId: createSchemaField
      summary: Create a schema field
      description: Adds a new field to an existing domain object type in the ODP schema.
      tags:
      - Schema
      security:
      - privateApiKey: []
      parameters:
      - $ref: '#/components/parameters/objectType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaFieldInput'
      responses:
        '201':
          description: Schema field successfully created
        '400':
          description: Invalid field definition
        '401':
          description: Authentication credentials are missing or invalid
        '404':
          description: Schema object not found
components:
  schemas:
    SchemaObject:
      type: object
      description: A domain object type definition in the ODP schema
      properties:
        name:
          type: string
          description: Name of the object type
        display_name:
          type: string
          description: Human-readable display name
        description:
          type: string
          description: Description of the object type
        fields:
          type: array
          description: Fields defined on the object type
          items:
            $ref: '#/components/schemas/SchemaField'
    SchemaField:
      type: object
      description: A field definition within a domain object type
      properties:
        name:
          type: string
          description: Field name
        display_name:
          type: string
          description: Human-readable display name
        type:
          type: string
          description: Data type of the field
          enum:
          - string
          - number
          - boolean
          - timestamp
        description:
          type: string
          description: Description of the field
    SchemaFieldInput:
      type: object
      description: Input for creating a schema field
      required:
      - name
      - display_name
      - type
      properties:
        name:
          type: string
          description: Field name
        display_name:
          type: string
          description: Human-readable display name
        type:
          type: string
          description: Data type of the field
          enum:
          - string
          - number
          - boolean
          - timestamp
        description:
          type: string
          description: Description of the field
    SchemaObjectInput:
      type: object
      description: Input for creating a domain object type
      required:
      - display_name
      properties:
        display_name:
          type: string
          description: Human-readable display name
        description:
          type: string
          description: Description of the object type
  parameters:
    objectType:
      name: object_type
      in: path
      required: true
      description: The type of object (e.g., products, orders)
      schema:
        type: string
  securitySchemes:
    publicApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Public API Key (Tracker ID) for sending data to ODP. May be exposed publicly on the internet.
    privateApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Private API Key for querying data from ODP. Must be kept confidential and used only in backend services.
externalDocs:
  description: Optimizely Data Platform API Documentation
  url: https://docs.developers.optimizely.com/optimizely-data-platform/reference/introduction
