{"openapi":"3.0.0","info":{"version":"V3","title":"Optimizely CMP Open API Documentation"},"servers":[{"url":"https://api.cmp.optimizely.com/v3","description":"v3 version of Optimizely CMP Open API"}],"security":[{"OAuth2":["openid","profile","offline_access"]}],"tags":[{"name":"Uploader"},{"name":"Library"},{"name":"Labels"},{"name":"Brand Compliance"},{"name":"Tasks","description":"Facilitates the integration of external systems with Optimizely CMP through the following use cases:\n1. **External Work Management** – Use the endpoints to link Optimizely CMP with an external system (such as Jira or Aha). The external system can send status updates back to Optimizely CMP so that the Optimizely CMP user receives in-app updates for the status of the 'ticket' in the external system.\n2. **External Document Approval** – (a.k.a. Marketing Legal Review) Use the endpoints to link Optimizely CMP with an external system (such as Veeva PromoMats) to review, annotate, update, and approve marketing assets through the external system. The approval status can be sent back to Optimizely CMP so that the Optimizely CMP user receives in-app updates for the final approval status of the documents from the external system.\nFor information on these use cases, contact Optimizely CMP Support.\n"},{"name":"Campaigns"},{"name":"Publishing"},{"name":"Templates"},{"name":"Users"},{"name":"Work Requests"},{"name":"Structured Contents"},{"name":"Assets"},{"name":"Events"},{"name":"Fields"},{"name":"Milestones"},{"name":"Teams"},{"name":"Settings"},{"name":"Workflows"},{"name":"Task Step"}],"paths":{"/upload-url":{"get":{"operationId":"getUploadUrl","tags":["Uploader"],"summary":"GET /upload-url","description":"Get a presigned URL and related meta fields to upload a file. **The validity time for this URL is 60 minutes**.","responses":{"200":{"description":"Fetched presigned upload URL and related meta fields","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"url":{"description":"Presigned URL to use for uploading a file with an **HTTP POST** request as `multipart/form-data`","type":"string","example":"https://cmp-files.s3-accelerate.amazonaws.com/"},"upload_meta_fields":{"description":"Related meta fields to upload a file. **Items within this field must be sent along as paylod of the POST request, along with the file, to the presigned upload URL**","type":"object","additionalProperties":false,"properties":{"key":{"description":"Unique identifier of the file. **This key will be needed for various file / attachment addition to different CMP resources using endpoints e.g. `POST /v3/assets`, `POST /v3/campaigns/{id}/attachments` etc.**","type":"string","example":"ce8995aea58b11ea8cd90242ac120005"},"policy":{"type":"string","example":"eyJleHBpcmF0aW9uIjogIjIwMjAtMDYtMDNUMTY6MTc6NTbbbbbbImNvbmRpdGlvbnMiOiBbeyJidWNrZXQiOiAibmV3c2NyZWQtY21wLWZpbGVzIn0sIHsia2V5IjogIjY3Y2NhMzcxYTVhZDExZWFiNDNhMGExMjlmMDhlZWQ5In0sIHsieC1hbXotYWxnb3JpdGhtIjogIkFXUzQtSE1BQy1TSEEyNTYifSwgeyJ4LWFtei1jcmVkZW50aWFsIjogIkFTSUFVTlVMQkwzV082RDdSWkZILzIwMjAwNjAzL3VzLWVhc3QtMS9zMy9hd3M0X3JlcXVlc3QifSwgeyJ4LWFtei1kYXRlIjogIjIwMjAwNjAzVDE1MTc1N1oifSwgeyJ4LWFtei1zZWN1cml0eS10b2tlbiI6ICJJUW9KYjNKcFoybHVYMlZqRUE4YUNYVnpMV1ZoYzNRdE1TSkhNRVVDSUQrc2FrelZIK05zN0Z4UmtsaW9CZFdldjdZRXlIcHBoVjEyNnRsL0ZadjNBaUVBODFOV1l5TUt1L0UvZ1FyaUlhaVhMaXpxSFFuNnlxTWlWSzQzeU9xYTUaaaaaaU1JZHhBQUdnd3pNRFF4TmpBMU16QXhOVFlpRERxMlN3dVJTR2ZGL2hGRXpDcVJBMlo4NmpkRzNQczMzY3c5bFpFeVBpbmdWSnV0WUQ0RXZuU291NFR1NG9WaGhEZUwyS0QxdFREZmMrNHJmVWRMQ2Y1SWpzb3VRYldMekIzczRXZ2xMQUJFOFJ0VUM5K0o1bVpJUTlYNzJVa0xOUjA0UURpVlliSjdxNS95S25VNUFSZWUzQXdqVHp3UWZPS3dsTnRFODYyVWo4MXlWbDhMdS81d3kwaU5hZFpvbkZPcVBONldJWURpdi9MVzlLKzhWNjRNS2E5bDhtcG1kVll3RWJ2dTRiMENJVFIxQ0tjUHlzVkFNODBKdnZ0aklvQTZXc3RDcWxiM0ZHZEFGVmlnaDdId3JKL3greFNZVU5YVzFvaFNlUExDNXFPSCtoZ2ZqRFVOSDMvbXhEV2V4dWhQbDFGSjF6VlpZQzBMY2U0Y1F6dEtPbTgzZFBqcWI4a09pQVBUWVB3MGFmYnl0QUQyVE8vTmhZdHlvU1BzL0xWS1FYWXhyYk5MZ3N6azRMUjdLeUEydlA5NkJRMll6aVhnWDhTTm13bklDcWRiY2dzZitvNnBWOXRlTlJIczdIS3N2Qm9HYVFESTVhUDQrcmQ1K0h0aWM3RUZqSDlDUkk1bnBpL3cvTVlodkc0dXljWDR4cEJSeE5iSURWbFpuYTBEaUkvVkxmV3JjOWtkUFBhdm10QVhtVHR1U2c4aFFVMnNzMSt0dEJqaE1NRGkzdllGT3VzQnJEMDMyc1BlMWx0QUNRSzlVQUxEUmFYT2VIWjNXbThTVjZlMTErWVhnd3JKZkloQlp2a053OGxHdkRuN2FSK2hXUkpPazljY3pHOC9DTzRqZk8xVlpkZ3N2YU5PaEhpc01sQXVOMVJXallXUGJWRkRoajV3ekZ0OTQrcmJwdFd3dk9vamtXVElUM0o5SWtSNTF6SWJhc1VqTW4rOHRiSjFJbHJnWVFOaDVaaUVPTGZ1bFVHZWl1L2xXdERFbFhKUy9sS0pUTnV1YU1DRnU0NnBocTlvVE9EMWtmSVYrUEFxZEZYV2xQbVZKK3lXeGRLellSV1creDdERjJ6dnZmZm1nc0JBWU01eDh6aEJ3YWIrSXkvTGR6eWdQVUFnaTFTUE9oSktFRjNBejU4aVArdGFDbUxhdmo5cGFRPT0ifV19"},"x-amz-algorithm":{"type":"string","example":"AWS4-HMAC-SHA256"},"x-amz-credential":{"type":"string","example":"REDACTED_AWS_ACCESS_KEY_ID/20343603/us-east-1/s3/aws4_request"},"x-amz-date":{"type":"string","example":"20200603T151757Z"},"x-amz-security-token":{"type":"string","example":"IQoJb3JpZ2luX2VjEA8ccccccWVhc3QtMSJHMEUCID+sakzVH+Ns7FxRklioBdWev7YEyHpphV126tl/FZv3AiEA81NWYyMKu/E/gQriIaiXLizqHQn6yqMiVK43yOqa52AqtAMIdxAAGgwzMDQxNjA1MzAxNTYiDDq2SwuRSGfFddddddqRA2Z86jdG3Ps33cw9lZEyPingVJutYD4EvnSou4Tu4oVhhDeL2KD1tTDfc+4rfUdLCf5IjsouQbWLzB3s4WglLABE8RtUC9+J5mZIQ9X72UkLNR04QDiVYbJ7q5/yKnU5ARee3AwjTzwQfOKwlNtE862Uj81yVl8Lu/5wy0iNadZonFOqPN6WIYDiv/LW9K+8V64MKa9l8mpmdVYwEbvu4b0CITR1CKcPysVAM80JvvtjIoA6WstCqlb3FGdAFVigh7HwrJ/x+xSYUNXW1ohSePLC5qOH+hgfjDUNH3/mxDWexuhPl1FJ1zVZYC0Lce4cQztKOm83dPjqb8kOiAPTYPw0afbytAD2TO/NhYtyoSPs/LVKQXYxrbNLgszk4LR7KyA2vP96BQ2YziXgX8SNmwnICqdbcgsf+o6pV9teNRHs7HKsvBoGaQDI5aP4+rd5+Htic7EFjH9CRI5npi/w/MYhvG4uycX4xpBRxNbIDVlZna0DiI/VLfWrc9kdPPavmtAXmTtuSg8hQU2ss1+ttBjhMMDi3vYFOusBrD032sPe1ltACQK9UALDRaXOeHZ3Wm8SV6e11+YXgwrJfIhBZvkNw8lGvDn7aR+hWRJOk9cczG8/CO4jfO1VZdgsvaNOhHisMlAuN1RWjYWPbVFDhj5wzFt94+rbptWwvOojkWTIT3J9IkR51zIbasUjMn+8tbJ1IlrgYQNh5ZiEOLfulUGeiu/lWtDElXJS/lKJTNuuaMCFu46phq9oTOD1kfIV+PAqdFXWlPmVJ+yWxdKzYRWW+x7DF2zvvffmgsBAYM5x8zhBwab+Iy/LdzygPUAgi1SPOhJKEF3Az58iP+taCmLavj9paQ=="},"x-amz-signature":{"type":"string","example":"0e67ede744d4aed62aaaaaa8e87648b3e98a3e611ccccccc89963bcf70bd02f9"}},"required":["key","policy","x-amz-algorithm","x-amz-credential","x-amz-date","x-amz-signature"]}},"required":["url","upload_meta_fields"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/multipart-uploads":{"post":{"operationId":"createMultipartUpload","tags":["Uploader"],"summary":"POST /v3/multipart-uploads","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Create pre-signed URLs for multipart upload of large files","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"file_size":{"type":"integer","description":"Size of the file in bytes","minimum":1,"maximum":5497558138880,"example":104857600},"part_size":{"type":"integer","description":"The size of each part of the file to be uploaded. The size of the last part can be smaller and hence can be ignored. `upload_part_count` is calculated based on `file_size` and `part_size`. **The maximum allowed `upload_part_count` is 10000.** So use larger `part_size` for larger files to keep `upload_part_count` under 10000.","default":5242880,"minimum":5242880,"maximum":5368709120,"example":6000000}},"required":["file_size"]}}}},"responses":{"201":{"description":"Successful operation","headers":{"Content-Encoding":{"schema":{"type":"string","enum":["gzip"],"description":"Response is always gzip compressed"},"example":"gzip"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"ID of the multipart upload","example":"abcdef1234567890"},"expires_at":{"type":"string","format":"date-time","description":"Expiration time of the upload URLs","example":"2025-03-03T12:00:00Z"},"upload_part_count":{"type":"integer","description":"Number of parts for the upload","example":10},"upload_part_urls":{"type":"array","items":{"type":"string","format":"uri"},"description":"Array of pre-signed URLs for each part. **Each file part must be uploaded to the URL using PUT requests following the order of the URLs**","example":["https://s3.amazonaws.com/xyz/abcdef1234567890/0","https://s3.amazonaws.com/xyz/abcdef1234567890/1"]},"links":{"type":"object","properties":{"complete":{"type":"string","format":"uri","description":"URL to complete the upload","example":"https://api.cmp.optimizely.com/v3/multipart-uploads/abcdef1234567890/complete"},"status":{"type":"string","format":"uri","description":"URL to check the upload status","example":"https://api.cmp.optimizely.com/v3/multipart-uploads/abcdef1234567890/status"}},"required":["complete","status"]}},"required":["id","expires_at","upload_part_count","upload_part_urls","links"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/multipart-uploads/{id}/status":{"get":{"operationId":"getMultipartUploadStatus","tags":["Uploader"],"summary":"GET /v3/multipart-uploads/{id}/status","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Retrieve the current status of a multipart upload","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"ID of the multipart upload to check status for","example":"abcdef1234567890"}],"responses":{"200":{"description":"Successfully retrieved upload status","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"ID of the multipart upload","example":"abcdef1234567890"},"key":{"type":"string","description":"Unique identifier of the file combining all parts. **This key will be needed for various file / attachment addition to different CMP resources using endpoints e.g. `POST /v3/assets`, `POST /v3/campaigns/{id}/attachments` etc.**","example":"ce8995aea58b11ea8cd90242ac120005/abcdef1234567890"},"status":{"type":"string","enum":["UPLOAD_COMPLETION_NOT_STARTED","UPLOAD_COMPLETION_IN_PROGRESS","UPLOAD_COMPLETION_SUCCEEDED","UPLOAD_COMPLETION_FAILED"],"description":"Current status of the upload","example":"UPLOAD_COMPLETION_IN_PROGRESS"},"status_message":{"type":"string","nullable":true,"description":"Detailed status message","example":"Some error message related to the status"},"expires_at":{"type":"string","format":"date-time","description":"Expiration time of the upload","example":"2025-03-03T12:00:00Z"},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"URL to this status endpoint","example":"https://api.cmp.optimizely.com/v3/multipart-uploads/abcdef1234567890/status"}},"required":["self"]}},"required":["id","key","status","status_message","expires_at","links"]}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/multipart-uploads/{id}/complete":{"post":{"operationId":"completeMultipartUpload","tags":["Uploader"],"summary":"POST /v3/multipart-uploads/{id}/complete","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Initiate completion of a multipart upload after all parts have been uploaded","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"ID of the multipart upload to complete","example":"abcdef1234567890"}],"responses":{"202":{"description":"Upload completion initiated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"key":{"type":"string","description":"Unique identifier of the file combining all parts. **This key will be needed for various file / attachment addition to different CMP resources using endpoints e.g. `POST /v3/assets`, `POST /v3/campaigns/{id}/attachments` etc.**","example":"ce8995aea58b11ea8cd90242ac120005/abcdef1234567890"},"links":{"type":"object","properties":{"status":{"type":"string","format":"uri","description":"URL to check upload status","example":"https://api.cmp.optimizely.com/v3/multipart-uploads/abcdef1234567890/status"}},"required":["status"]}},"required":["key","links"]}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/folders":{"get":{"operationId":"listFolders","tags":["Library"],"summary":"GET /folders","description":"Get the list of folders sorted by `modified_at` in descending order.","parameters":[{"name":"parent_folder_id","in":"query","required":false,"description":"ID of the parent folder to filter by","schema":{"type":"string"},"example":"1d9d8aeca10811ebbc640242ac12001b"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of fetched folders","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of folders","type":"array","items":{"$ref":"#/components/schemas/FolderResponse"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/folders?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}},"post":{"operationId":"createFolder","tags":["Library"],"summary":"POST /folders","description":"Create a folder. Use the `parent_folder_id` field to create a nested folder.","requestBody":{"description":"Payload to create a folder","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderCreateRequest"}}}},"responses":{"201":{"description":"Created folder","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/folders/{id}":{"get":{"operationId":"getFolder","tags":["Library"],"summary":"GET /folders/{id}","description":"Get a folder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the folder"},"example":"5d7f910551b00a722e0418830cee6632"}],"responses":{"200":{"description":"Fetched folder","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"operationId":"updateFolder","tags":["Library"],"summary":"PATCH /folders/{id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Update a folder's name and/or parent.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the folder"},"example":"5d7f910551b00a722e0418830cee6632"}],"requestBody":{"description":"Payload to update a folder","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderUpdateRequest"}}}},"responses":{"200":{"description":"Updated Folder","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"delete":{"operationId":"deleteFolder","tags":["Library"],"summary":"DELETE /folders/{id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Delete a folder.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the folder"},"example":"5d7f910551b00a722e0418830cee6632"}],"responses":{"204":{"description":"Folder deleted successfully"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/folders/{id}/permissions":{"get":{"operationId":"listFolderPermissions","tags":["Library"],"summary":"GET /folders/{id}/permissions","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> List of entities that have permission to access the folder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the folder"},"example":"5d7f910551b00a722e0418830cee6631"},{"name":"access","in":"query","schema":{"type":"string","description":"To filter by specific access level. Cannot be used in addition to max_access and min_access params.","enum":["view","edit","comment","delete"]},"example":"view"},{"name":"max_access","in":"query","schema":{"type":"string","description":"To filter by specific access level and higher. Cannot be used in addition to access and min_access params.","enum":["view","edit","comment","delete"]},"example":"view"},{"name":"min_access","in":"query","schema":{"type":"string","description":"To filter by specific access level and lower. Cannot be used in addition to access and max_access params.","enum":["view","edit","comment","delete"]},"example":"view"}],"responses":{"200":{"description":"List of permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderPermissionListResponseItem"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"post":{"operationId":"addFolderPermissions","tags":["Library"],"summary":"POST /folders/{id}/permissions","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Grant folder access to users or teams","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the folder"},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"Payload to add list of accessors to folder permissions","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderPermissionBulkCreateRequest"}}}},"responses":{"204":{"description":"Permission access granted"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/folders/{id}/permissions/{accessor_id}":{"patch":{"operationId":"updateFolderPermission","tags":["Library"],"summary":"PATCH /folders/{id}/permissions/{accessor_id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Update accessor's access level and ownership of folder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the folder"},"example":"5d7f910551b00a722e0418830cee6631"},{"name":"accessor_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the accessor. Accessor should be a user or a team."},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"Payload to update permission of accessors","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderPermissionUpdateRequest"}}}},"responses":{"204":{"description":"Permission access granted"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"operationId":"removeFolderPermission","tags":["Library"],"summary":"DELETE /folders/{id}/permissions/{accessor_id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Remove accessor's access from a folder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the folder"},"example":"5d7f910551b00a722e0418830cee6631"},{"name":"accessor_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the accessor. Accessor should be a user or a team. Accessor cannot be an owner."},"example":"5d7f910551b00a722e0418830cee6631"}],"responses":{"204":{"description":"Accessor's access removed"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/file-urls":{"post":{"operationId":"createFileUrls","tags":["Library"],"summary":"POST /file-urls","description":"Generates download URLs of files given file guid.","requestBody":{"description":"Payload to generate download URLs for files.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUrlBulkCreateRequest"}}}},"responses":{"200":{"description":"Generated URLs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchFileUrlResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/assets":{"get":{"operationId":"listAssets","tags":["Library"],"summary":"GET /assets","description":"Get the list of assets. Assets are sorted by `modified_at` in descending order.\nTo get assets that are not inside any folder, pass `include_subfolder_assets=false` in the query param.\n","parameters":[{"name":"type","in":"query","description":"Asset type to filter by. Example: `type=image&type=video`","schema":{"type":"array","items":{"type":"string","enum":["article","image","video","raw_file","structured_content"]},"default":["article","image","video","raw_file","structured_content"]},"style":"form","explode":true,"examples":{"single":{"summary":"Filter by a single type","value":["image"]},"multiple":{"summary":"Filter by multiple types","value":["article","image","video"]}}},{"name":"label","in":"query","description":"Label to filter by. **Must be passed as urlencoded string**. Labels that do not exist are ignored. If none of the provided labels exist, filtering is not applied. Example – `label=%7B%22group%22%3A%22ee63e3ee43925bb5cc8cd17b817d93ee%22%2C%22values%22%3A%5B%226706efc7828cd6aaedbc0434139cd3e1%22%2C%221f32651216cf2aefcaa08be1ea7dedf1%22%5D%7D`","schema":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"group":{"type":"string","description":"Identifier of the label group","example":"2467e583a60e23fda2b89db81a453cd2"},"values":{"type":"array","description":"List of identifiers of the label values","items":{"type":"string","description":"Identifier of the label value","example":"71c378f3fee3d822759d1bdc2aab628c"}}},"required":["group","values"]}},"style":"form","explode":true,"examples":{"single":{"summary":"Filter by a single label","value":["{\"group\": \"ee63e3ee43925bb5cc8cd17b817d93ee\", \"values\": [\"6706efc7828cd6aaedbc0434139cd3e1\", \"1f32651216cf2aefcaa08be1ea7dedf1\"]}"]},"multiple":{"summary":"Filter by multiple labels","value":["{\"group\": \"ee63e3ee43925bb5cc8cd17b817d93ee\", \"values\": [\"6706efc7828cd6aaedbc0434139cd3e1\", \"1f32651216cf2aefcaa08be1ea7dedf1\"]}","{\"group\": \"126123b543912bb5cc12d17b817d9312\", \"values\": [\"aa63e3ee43925bb5cc8cd17b817d93aa\", \"df697bd824a944bf7d4fb6e350d9c5bd\"]}"]}}},{"name":"fields","in":"query","description":"List of fields to filter by. **Must be passed as base64 encoded string**. Fields that do not exist are ignored. If none of the provided fields exist, filtering is not applied. Example – `fields=Wwp7CiJpZCI6ICI2N2E4NDZhMWM3NzU1YTFwNThpNjh5MzVhIiwKInZhbHVlcyI6IFsiNjdhODQ2YTFjNzc1YWU1YWExYTE0YTA1Il0KfQpd=`","schema":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"id":{"type":"string","description":"Identifier of the field","example":"2467e583a60e23fda2b89db81a453cd2"},"values":{"type":"array","description":"List of identifiers of the field values","items":{"type":"string","description":"Identifier of the field value","example":"71c378f3fee3d822759d1bdc2aab628c"}}},"required":["id","values"]}},"style":"form","explode":true,"examples":{"single":{"summary":"Filter by a single field","value":["[{\"id\": \"ee63e3ee43925bb5cc8cd17b817d93ee\", \"values\": [\"6706efc7828cd6aaedbc0434139cd3e1\", \"1f32651216cf2aefcaa08be1ea7dedf1\"]}]"]},"multiple":{"summary":"Filter by multiple fields","value":["[{\"id\": \"ee63e3ee43925bb5cc8cd17b817d93ee\", \"values\": [\"6706efc7828cd6aaedbc0434139cd3e1\", \"1f32651216cf2aefcaa08be1ea7dedf1\"]}, {\"id\": \"126123b543912bb5cc12d17b817d9312\", \"values\": [\"aa63e3ee43925bb5cc8cd17b817d93aa\", \"df697bd824a944bf7d4fb6e350d9c5bd\"]}]"]}}},{"name":"created_at__from","in":"query","required":false,"description":"Date and time as the lower limit to filter assets by `created_at`, in ISO 8601 UTC format","schema":{"type":"string","format":"date-time"},"example":"2018-11-30T13:32:44Z"},{"name":"created_at__to","in":"query","required":false,"description":"Date and time as the upper limit to filter assets by `created_at`, in ISO 8601 UTC format","schema":{"type":"string","format":"date-time"},"example":"2018-11-30T13:32:44Z"},{"name":"modified_at__from","in":"query","required":false,"description":"Date and time as the lower limit to filter assets by `modified_at`, in ISO 8601 UTC format","schema":{"type":"string","format":"date-time"},"example":"2018-11-30T13:32:44Z"},{"name":"modified_at__to","in":"query","required":false,"description":"Date and time as the upper limit to filter assets by `modified_at`, in ISO 8601 UTC format","schema":{"type":"string","format":"date-time"},"example":"2018-11-30T13:32:44Z"},{"name":"folder_id","in":"query","required":false,"description":"ID of the library folder to include assets from","schema":{"type":"string"},"example":"6bb8db20a5b611ebae319b7c541b1a7f"},{"name":"include_subfolder_assets","in":"query","required":false,"description":"Indicates whether assets from subfolders need to be included","schema":{"type":"boolean","default":true},"example":"false"},{"name":"search_text","in":"query","required":false,"description":"Search assets by title or content description","schema":{"type":"string"},"example":"Cute Cat"},{"name":"campaign_id","in":"query","required":false,"description":"ID of the campaign to include assets from","schema":{"type":"string"},"example":"673218bee23887779e9e9a6f"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of fetched assets","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of assets","type":"array","items":{"$ref":"#/components/schemas/AssetResponse"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/assets?offset=10&page_size=10"}}}]},"total_count":{"type":"number","description":"Total number of assets found based on the request"}},"required":["data","pagination","total_count"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}},"post":{"operationId":"createAsset","tags":["Library"],"summary":"POST /assets","description":"Create a new asset. Supports only `images`, `videos`, and `raw files`. See [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) to upload an asset.","requestBody":{"description":"Payload to create an asset","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryAssetCreateRequest"}}}},"responses":{"201":{"description":"Created asset","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/assets/{asset_id}/fields":{"get":{"operationId":"listAssetFields","tags":["Library"],"summary":"GET assets/{asset_id}/fields","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Get the list of fields of an asset.","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5f857f30e1c4a2038d6179e9"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of fetched fields","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of fields","type":"array","items":{"$ref":"#/components/schemas/AssetFieldListResponseItem"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/assets/5f857f30e1c4a2038d6179e9/fields?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"put":{"operationId":"updateAssetFields","tags":["Library"],"summary":"PUT /assets/{asset_id}/fields","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Replace existing fields of an asset.","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5f857f30e1c4a2038d6179e9"}],"requestBody":{"description":"Payload to replace the fields","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetFieldsUpdateRequest"}}}},"responses":{"200":{"description":"List of fields after replacement","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of fields","type":"array","items":{"$ref":"#/components/schemas/AssetFieldListResponseItem"}},"links":{"type":"object","additionalProperties":false,"description":"Meta links","properties":{"asset_fields":{"type":"string","description":"URL to get the asset fields","example":"https://api.cmp.optimizely.com/v3/assets/5f857f30e1c4a2038d6179e9/fields"},"asset_url":{"type":"string","description":"URL of the asset","example":"https://api.cmp.optimizely.com/v3/asset-urls/5f857f30e1c4a2038d6179e9"}},"required":["asset_fields","asset_url"]}},"required":["data","links"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/assets/{asset_id}/fields/{field_id}":{"put":{"operationId":"updateAssetField","tags":["Library"],"summary":"PUT /assets/{asset_id}/fields/{field_id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Update the field value of an asset. ","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5f857f30e1c4a2038d6179e9"},{"name":"field_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the field of the asset"},"example":"4f857f30e1c4a2038d6179e7"}],"requestBody":{"description":"Payload to update the field value","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetFieldUpdateRequest"}}}},"responses":{"200":{"description":"Updated the asset field","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetFieldUpdateResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/assets/{asset_id}/versions":{"post":{"operationId":"createAssetVersion","tags":["Library"],"summary":"POST /assets/{asset_id}/versions","description":"Add a new version to a library asset. Supports adding versions to only `images`, `videos`, and `raw files` type assets. See [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) to upload a version to a library asset.","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"Payload to add a version to a library asset","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetVersionCreateRequest"}}}},"responses":{"201":{"description":"Created version","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryAssetVersionResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/assets/{asset_id}/renditions":{"get":{"operationId":"listAssetRenditions","tags":["Library"],"summary":"GET /assets/{asset_id}/renditions","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Get the renditions of an asset given its `id`. ","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"}],"responses":{"200":{"description":"List of fetched renditions","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of renditions","type":"array","items":{"$ref":"#/components/schemas/BaseAssetRenditionResponse"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/assets/5d7f910551b00a722e0418830cee6631/renditions?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/assets/{asset_id}/permissions":{"get":{"operationId":"listAssetPermissions","tags":["Library"],"summary":"GET /assets/{asset_id}/permissions","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> List of entities that have permission to access the asset","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"},{"name":"access","in":"query","schema":{"type":"string","description":"To filter by specific access level. Cannot be used in addition to max_access and min_access params.","enum":["view","edit","comment","delete"]},"example":"view"},{"name":"max_access","in":"query","schema":{"type":"string","description":"To filter by specific access level and higher. Cannot be used in addition to access and min_access params.","enum":["view","edit","comment","delete"]},"example":"view"},{"name":"min_access","in":"query","schema":{"type":"string","description":"To filter by specific access level and lower. Cannot be used in addition to access and max_access params.","enum":["view","edit","comment","delete"]},"example":"view"}],"responses":{"200":{"description":"List of permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetPermissionListResponseItem"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"post":{"operationId":"addAssetPermissions","tags":["Library"],"summary":"POST /assets/{asset_id}/permissions","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Grant asset access to users or teams","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"Payload to add list of accessors to asset permissions","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetPermissionBulkCreateRequest"}}}},"responses":{"204":{"description":"Permission access granted"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/assets/{asset_id}/permissions/{accessor_id}":{"patch":{"operationId":"updateAssetPermission","tags":["Library"],"summary":"PATCH /assets/{asset_id}/permissions/{accessor_id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Update accessor's access level and ownership of asset","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"},{"name":"accessor_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the accessor. Accessor should be a user or a team."},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"Payload to update permission of accessors","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetPermissionUpdateRequest"}}}},"responses":{"204":{"description":"Permission access granted"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"operationId":"removeAssetPermission","tags":["Library"],"summary":"DELETE /asstes/{asset_id}/permissions/{accessor_id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Remove accessor's access from an asset","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"},{"name":"accessor_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the accessor. Accessor should be a user or a team. Accessor cannot be an owner."},"example":"5d7f910551b00a722e0418830cee6631"}],"responses":{"204":{"description":"Accessor's access removed"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/renditions/{id}":{"get":{"operationId":"getRendition","tags":["Library"],"summary":"GET /renditions/{id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Get a rendition given its `id`. ","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the rendition"},"example":"c2603a6e0b4811eebea95edf08e23f48"}],"responses":{"200":{"description":"Details of the rendition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedAssetRenditionResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/rendition-configs/{id}":{"get":{"operationId":"getRenditionConfig","tags":["Library"],"summary":"GET /rendition-configs/{id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Get a rendition configuration of an organization given its `id`. ","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the rendition configuration"},"example":"5d7f910551b00a722e0418830cee6631"}],"responses":{"200":{"description":"Data of a rendition configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenditionConfigResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/assets/{asset_id}/lineages":{"post":{"operationId":"createAssetLineage","tags":["Library"],"summary":"POST /assets/{asset_id}/lineages","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Add a new external asset lineage.","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"Payload to add an external asset lineage for a library asset","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetLineageCreateRequest"}}}},"responses":{"201":{"description":"Created external asset lineage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetLineageResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/assets/{asset_id}/lineages/{lineage_id}":{"delete":{"operationId":"deleteAssetLineage","tags":["Library"],"summary":"DELETE /assets/{asset_id}/lineages/{lineage_id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Delete an asset lineage.","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"},{"name":"lineage_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the lineage"},"example":"ff3f8e024f0611ed993202420ac8001b"}],"responses":{"204":{"description":"Deleted the asset lineage"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/assets/{asset_id}/related-assets":{"get":{"tags":["Library"],"operationId":"listRelatedAssets","summary":"GET /assets/{asset_id}/related-assets","description":"Returns a paginated list of related assets for the specified asset. Only supported for asset types: article, image, video, raw_file, and structured_content.","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of related assets","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RelatedAssetsListResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"put":{"tags":["Library"],"operationId":"replaceRelatedAssets","summary":"PUT /assets/{asset_id}/related-assets","description":"Replaces all related assets for the specified asset. Only supported for asset types: article, image, video, raw_file, and structured_content.","parameters":[{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"List of related assets to set for the specified asset","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplaceRelatedAssetsRequest"}}}},"responses":{"200":{"description":"Successfully replaced related assets","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplaceRelatedAssetsResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/asset-lineages":{"get":{"operationId":"listAssetLineages","tags":["Library"],"summary":"GET /asset-lineages","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Get the list of asset lineage.","parameters":[{"name":"asset_id","in":"query","schema":{"type":"string","description":"Unique identifier of the asset. Can be appended multiple times, such as `asset_id=assetId1&asset_id=assetId2`"},"example":"1265ca474ba987cc925164aa7"},{"name":"used_in","in":"query","schema":{"type":"string","description":"Indicates where an asset is being used.","enum":["external"]},"example":"external"},{"name":"created_at__from","in":"query","required":false,"description":"Date and time as the lower limit to filter asset lineages by `created_at`, in ISO 8601 UTC format","schema":{"type":"string","format":"date-time"},"example":"2018-11-30T13:32:44Z"},{"name":"created_at__to","in":"query","required":false,"description":"Date and time as the upper limit to filter asset lineages by `created_at`, in ISO 8601 UTC format","schema":{"type":"string","format":"date-time"},"example":"2018-11-30T13:32:44Z"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of fetched asset lineage","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of asset lineage","type":"array","items":{"$ref":"#/components/schemas/AssetLineageResponse"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/asset-lineages?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/articles/{id}":{"get":{"operationId":"getArticle","tags":["Library"],"summary":"GET /articles/{id}","description":"Get an article","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the article"},"example":"5d7f910551b00a722e0418830cee6631"}],"responses":{"200":{"description":"Fetched article","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryArticle"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/images/{id}":{"get":{"operationId":"getImage","tags":["Library"],"summary":"GET /images/{id}","description":"Get an image","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the image"},"example":"5d7f910551b00a722e0418830cee6632"}],"responses":{"200":{"description":"Fetched image","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryImage"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"operationId":"updateImage","tags":["Library"],"summary":"PATCH /images/{id}","description":"Updates an image","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the image"},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"Payload to update the image","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryImageUpdateRequest"}}}},"responses":{"200":{"description":"Updated Image","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryImage"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"operationId":"deleteImage","tags":["Library"],"summary":"DELETE /images/{id}","description":"Delete an image","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the image"},"example":"5d7f910551b00a722e0418830cee6632"}],"responses":{"204":{"description":"Deleted the image"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/videos/{id}":{"get":{"operationId":"getVideo","tags":["Library"],"summary":"GET /videos/{id}","description":"Get a video","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the video"},"example":"5d7f910551b00a722e0418830cee6633"}],"responses":{"200":{"description":"Fetched video","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryVideo"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"operationId":"updateVideo","tags":["Library"],"summary":"PATCH /videos/{id}","description":"Updates a video","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the Video"},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"Payload to update the video","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryVideoUpdateRequest"}}}},"responses":{"200":{"description":"Video Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryVideo"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"operationId":"deleteVideo","tags":["Library"],"summary":"DELETE /videos/{id}","description":"Delete a video","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the video"},"example":"5d7f910551b00a722e0418830cee6633"}],"responses":{"204":{"description":"Deleted the video"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/raw-files/{id}":{"get":{"operationId":"getRawFile","tags":["Library"],"summary":"GET /raw-files/{id}","description":"Get a raw file","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the raw file"},"example":"5d7f910551b00a722e0418830cee6634"}],"responses":{"200":{"description":"Fetched raw file","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryRawFile"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"operationId":"updateRawFile","tags":["Library"],"summary":"PATCH /raw-files/{id}","description":"Updates a raw file","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the raw file"},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"Payload to update the raw file","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryRawFileUpdateRequest"}}}},"responses":{"200":{"description":"Raw file updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryRawFile"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"operationId":"deleteRawFile","tags":["Library"],"summary":"DELETE /raw-files/{id}","description":"Delete a raw file","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the raw file"},"example":"5d7f910551b00a722e0418830cee6634"}],"responses":{"200":{"description":"Deleted the raw file"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/structured-contents":{"post":{"operationId":"createStructuredContent","tags":["Library"],"summary":"POST /structured-contents","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Creates a structured content.","requestBody":{"description":"Payload to create the structured content","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryStructuredContentCreateRequest"}}}},"responses":{"200":{"description":"Structured content created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryStructuredContent"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/structured-contents/{id}":{"get":{"operationId":"getStructuredContent","tags":["Library"],"summary":"GET /structured-contents/{id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Get the structured content. ","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the structured content"},"example":"a24b834427a043ab8caed1ded4606f7d"}],"responses":{"200":{"description":"Fetched structured content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryStructuredContent"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"operationId":"updateStructuredContent","tags":["Library"],"summary":"PATCH /structured-contents/{id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Updates a structured content. ","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the structured content"},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"Payload to update the structured content","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryStructuredContentUpdateRequest"}}}},"responses":{"200":{"description":"Structured content updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryStructuredContent"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/label-groups":{"get":{"operationId":"listLabelGroups","tags":["Labels"],"summary":"GET /label-groups","description":"Get the list of label groups. Label groups are sorted by `name` in ascending order.","parameters":[{"name":"source_org_type","in":"query","description":"Source organization type to filter by","schema":{"type":"string","enum":["current","related"]},"example":"current"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of fetched label groups","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of label groups","type":"array","items":{"$ref":"#/components/schemas/LabelGroup"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/label-groups?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/tasks":{"get":{"operationId":"listTasks","tags":["Tasks"],"summary":"GET /tasks","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Get a list of tasks.","parameters":[{"name":"search_key","in":"query","schema":{"type":"string","description":"Search for task title"},"example":"task 1"},{"name":"campaign","in":"query","schema":{"type":"string","description":"Campaign id of the tasks"},"example":"8n7f910o51b00b722o0418n30cie8211"},{"name":"workflow","in":"query","schema":{"type":"string","description":"Workflow id of the tasks"},"example":"8n7f910o51b00b722o0418n30cie8211"},{"name":"milestone","in":"query","schema":{"type":"string","description":"Milestone id of the tasks"},"example":"8n7f910o51b00b722o0418n30cie8211"},{"name":"start_date","in":"query","schema":{"type":"string","description":"Start date of the tasks, in ISO 8601 UTC format"},"example":"2022-08-24T00:00:00.000Z"},{"name":"due_date","in":"query","schema":{"type":"string","description":"Due date of the tasks, in ISO 8601 UTC format"},"example":"2022-08-24T00:00:00.000Z"},{"name":"status","in":"query","schema":{"type":"array","items":{"type":"string","enum":["Archived","Completed","Overdue","Not Started","In Progress","On Hold"]},"description":"Filter tasks by status. Provide multiple statuses to filter tasks across multiple statuses."},"example":["In Progress","Not Started"]},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of fetched tasks","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of tasks","type":"array","items":{"$ref":"#/components/schemas/TaskListResponseItem"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/tasks?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}},"post":{"operationId":"createTask","tags":["Tasks"],"summary":"POST /tasks","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Create a task","requestBody":{"description":"Payload to create a task","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskCreateRequest"}}}},"responses":{"201":{"description":"Created task","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/tasks/{id}":{"get":{"operationId":"getTask","tags":["Tasks"],"summary":"GET /tasks/{id}","description":"Get a task","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"}],"responses":{"200":{"description":"Fetched task","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"operationId":"updateTask","tags":["Tasks"],"summary":"PATCH /tasks/{id}","description":"Update a task","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"}],"requestBody":{"description":"Payload to update the task","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskUpdateRequest"}}}},"responses":{"200":{"description":"Updated task","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/tasks/{task_id}/urls":{"post":{"operationId":"addUrlToTask","tags":["Tasks"],"summary":"POST /tasks/{task_id}/urls","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Adds a URL to a task.","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"68fdf93d09caf1463f145dc6"}],"requestBody":{"description":"Payload to add a URL to a task","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddUrlToTaskRequest"}}}},"responses":{"201":{"description":"Created task URL","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskUrlResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/tasks/{id}/brief":{"get":{"operationId":"getTaskBrief","tags":["Tasks"],"summary":"GET /tasks/{id}/brief","description":"Get brief of the task","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"}],"responses":{"200":{"description":"Fetched brief of the task","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskBriefResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/tasks/{id}/custom-fields":{"get":{"operationId":"listTaskCustomFields","tags":["Tasks"],"summary":"GET tasks/{id}/custom-fields","description":"Get the list of custom fields added to a task.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of fetched custom fields","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of custom fields","type":"array","items":{"$ref":"#/components/schemas/TaskCustomField"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/tasks/{task_id}/custom-fields/{custom_field_id}":{"get":{"operationId":"getTaskCustomField","tags":["Tasks"],"summary":"GET /tasks/{task_id}/custom-fields/{custom_field_id}","description":"Get a custom field of a task","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"},{"name":"custom_field_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the custom field"},"example":"9nu8ue9wf8u9nusd9q"}],"responses":{"200":{"description":"Fetched custom field","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskCustomField"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"operationId":"updateTaskCustomField","tags":["Tasks"],"summary":"PATCH /tasks/{task_id}/custom-fields/{custom_field_id}","description":"Update a custom field of a task.\nYou can update the following types:  `text_field`, `multi_line_text_field`, `checkboxes`, `dropdown`, `multi_select_dropdown`, `multiple_choice`, `date_field`, `rich_text_field`\n","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"},{"name":"custom_field_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the custom field"},"example":"9nu8ue9wf8u9nusd9q"}],"requestBody":{"description":"Payload to update the custom field.\n","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskCustomFieldUpdateRequest"}}}},"responses":{"200":{"description":"Updated custom field","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskCustomField"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/tasks/{task_id}/custom-fields/{custom_field_id}/choices":{"get":{"operationId":"listTaskCustomFieldChoices","tags":["Tasks"],"summary":"GET /tasks/{task_id}/custom-fields/{custom_field_id}/choices","description":"Get the list of the choices of a custom field in a task.","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"},{"name":"custom_field_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the custom field"},"example":"9nu8ue9wf8u9nusd9q"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of fetched custom field choices","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of custom field choices","type":"array","items":{"$ref":"#/components/schemas/TaskCustomFieldChoiceListResponseItem"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields/j90uv0sd9i0si09sdip/choices?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/tasks/{task_id}/fields":{"get":{"operationId":"listTaskFields","tags":["Tasks"],"summary":"GET tasks/{task_id}/fields","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Get the list of fields of a task. ","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of fetched fields","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of fields","type":"array","items":{"$ref":"#/components/schemas/FieldListResponseItem"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/fields?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"post":{"operationId":"addFieldToTask","tags":["Tasks"],"summary":"POST tasks/{task_id}/fields","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Add a field to a task.","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"}],"requestBody":{"description":"Payload to add a field to a task","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectFieldCreateRequest"}}}},"responses":{"201":{"description":"Added field to a task.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectFieldCreateResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/tasks/{task_id}/fields/{field_id}":{"put":{"operationId":"updateTaskField","tags":["Tasks"],"summary":"PUT tasks/{taks_id}/fields/{field_id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Update a field of a task.","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"124p857f3i220y38ad6179e9"},{"name":"field_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the field of the task"},"example":"124p857f3i220y38ad6179e9"}],"requestBody":{"description":"Payload to update a field of a task","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskFieldUpdateRequest"}}}},"responses":{"204":{"description":"The field of the task was updated."},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"operationId":"removeTaskField","tags":["Tasks"],"summary":"DELETE tasks/{task_id}/fields/{field_id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Remove a field of a task. ","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"},{"name":"field_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the field"},"example":"fa63cece6aa811efb70202420ac80016"}],"responses":{"204":{"description":"The field is removed from the task"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}":{"get":{"operationId":"getTaskSubStep","tags":["Tasks"],"summary":"GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}","description":"Get the substep of a task","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the step"},"example":"897f910551b00a722e0418830cee6612"},{"name":"sub_step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the substep"},"example":"700f910551b00a722e0418830cee6612"}],"responses":{"200":{"description":"Fetched task substep information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubStep"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"operationId":"updateTaskSubStep","tags":["Tasks"],"summary":"PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}","description":"Update a substep of a step in a task","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the step"},"example":"897f910551b00a722e0418830cee6612"},{"name":"sub_step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the substep"},"example":"700f910551b00a722e0418830cee6612"}],"requestBody":{"description":"Payload to update the substep","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubStepRequest"},"examples":{"is_in_progress":{"summary":"Mark the substep as In Progress","value":{"is_in_progress":true}},"is_completed":{"summary":"Mark the substep as completed","value":{"is_completed":true}},"assignee_id":{"summary":"Change the assignee of the substep","value":{"assignee_id":"5fdf31d57f0d0e362e2b5908"}}}}}},"responses":{"200":{"description":"Fetched task substep information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubStep"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/tasks/{task_id}/steps/{step_id}":{"patch":{"operationId":"updateTaskStep","tags":["Task Step"],"summary":"PATCH /tasks/{task_id}/steps/{step_id}","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Update a step in a task","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the step"},"example":"897f910551b00a722e0418830cee6612"}],"requestBody":{"description":"Payload to update the step","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskStepRequest"},"examples":{"due_at":{"summary":"Update the due date of the step","value":{"due_at":"2025-10-06T13:00:00Z"}}}}}},"responses":{"200":{"description":"The updated step object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskStep"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work":{"get":{"operationId":"getTaskSubStepExternalWork","tags":["Tasks"],"summary":"GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work","description":"Get the external work information of a task external substep","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the step"},"example":"897f910551b00a722e0418830cee6612"},{"name":"sub_step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the substep"},"example":"700f910551b00a722e0418830cee6612"}],"responses":{"200":{"description":"Fetched external work information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskExternalWorkResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"operationId":"updateTaskSubStepExternalWork","tags":["Tasks"],"summary":"PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work","description":"Update the external work information of a task external substep","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the step"},"example":"897f910551b00a722e0418830cee6612"},{"name":"sub_step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the substep"},"example":"700f910551b00a722e0418830cee6612"}],"requestBody":{"description":"Payload to update the external work information","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskExternalWorkRequest"}}}},"responses":{"200":{"description":"Updated external work information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskExternalWorkResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments":{"get":{"operationId":"listTaskSubStepComments","tags":["Tasks"],"summary":"GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments","description":"Get the list of the comments of a task substep","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the step"},"example":"897f910551b00a722e0418830cee6612"},{"name":"sub_step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the substep"},"example":"700f910551b00a722e0418830cee6612"}],"responses":{"200":{"description":"List of fetched task substep comments","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of substep comments","type":"array","items":{"$ref":"#/components/schemas/TaskSubStepCommentResponse"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/steps/897f910551b00a722e0418830cee6612/sub-steps/700f910551b00a722e0418830cee6612/comments?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"post":{"operationId":"addCommentToTaskSubStep","tags":["Tasks"],"summary":"POST /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments","description":"Create a task substep comment","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the step"},"example":"897f910551b00a722e0418830cee6612"},{"name":"sub_step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the substep"},"example":"700f910551b00a722e0418830cee6612"}],"requestBody":{"description":"Payload to create substep comment","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentWithReplyCreateRequest"}}}},"responses":{"201":{"description":"Created task substep comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubStepCommentResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/fields":{"get":{"operationId":"listTaskSubStepFields","tags":["Tasks"],"summary":"GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/fields","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Get the list of fields of a substep of a task. ","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the step"},"example":"897f910551b00a722e0418830cee6612"},{"name":"sub_step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the substep"},"example":"700f910551b00a722e0418830cee6612"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of fetched fields","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of fields","type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/FieldTypeLabel"},{"$ref":"#/components/schemas/FieldTypeDropdown"},{"$ref":"#/components/schemas/FieldTypeRadio"},{"$ref":"#/components/schemas/FieldTypeCheckbox"}],"discriminator":{"propertyName":"type","mapping":{"checkbox":"#/components/schemas/FieldTypeCheckbox","dropdown":"#/components/schemas/FieldTypeDropdown","label":"#/components/schemas/FieldTypeLabel","radio_button":"#/components/schemas/FieldTypeRadio"}}}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/tasks/7d7f910551b00a722e0418830cee6612/steps/897f910551b00a722e0418830cee6612/sub-steps/700f910551b00a722e0418830cee6612/fields?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}":{"get":{"operationId":"getTaskSubStepComment","tags":["Tasks"],"summary":"GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}","description":"Get a task substep comment","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the step"},"example":"897f910551b00a722e0418830cee6612"},{"name":"sub_step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the substep"},"example":"700f910551b00a722e0418830cee6612"},{"name":"comment_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the comment"},"example":"5fe3886c574b52a62a089237"}],"responses":{"200":{"description":"Fetched task substep comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubStepCommentResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"operationId":"updateTaskSubStepComment","tags":["Tasks"],"summary":"PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}","description":"Update a task substep comment","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the step"},"example":"897f910551b00a722e0418830cee6612"},{"name":"sub_step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the substep"},"example":"700f910551b00a722e0418830cee6612"},{"name":"comment_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the comment"},"example":"5fe3886c574b52a62a089237"}],"requestBody":{"description":"Payload to update the substep comment","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubStepCommentUpdateRequest"}}}},"responses":{"200":{"description":"Updated task substep comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubStepCommentResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"delete":{"operationId":"deleteTaskSubStepComment","tags":["Tasks"],"summary":"DELETE /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}","description":"Delete a task substep comment","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"7d7f910551b00a722e0418830cee6612"},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the step"},"example":"897f910551b00a722e0418830cee6612"},{"name":"sub_step_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the substep"},"example":"700f910551b00a722e0418830cee6612"},{"name":"comment_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the comment"},"example":"5fe3886c574b52a62a089237"}],"responses":{"204":{"description":"Deleted task substep comment"},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/tasks/{id}/assets":{"get":{"operationId":"listTaskAssets","tags":["Tasks"],"summary":"GET /tasks/{id}/assets","description":"Get the list of the assets or contents of a task","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"},{"$ref":"#/components/parameters/offset"},{"$ref":"#/components/parameters/page_size"}],"responses":{"200":{"description":"List of fetched assets","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of assets","type":"array","items":{"allOf":[{"$ref":"#/components/schemas/TaskAssetResponse"},{"type":"object","properties":{"library_asset_id":{"type":"string","nullable":true,"description":"Unique identifier of the corresponding library asset — the library asset this task asset was forked from, or the one it was released to.","example":"6a8b2c3d4e5f6071829a3b4c"}}}]}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"post":{"operationId":"addAssetToTask","tags":["Tasks"],"summary":"POST /tasks/{id}/assets","description":"This API allows you to add an asset to a task. There currently two mechanisms to add an asset - either by uploading an asset first and then calling this API (for only `images`, `videos`, and `raw files`), or by adding an asset from the library. The 'type' parameter in the request body will determine the mechanism used to add the asset. See [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) to upload an asset.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"}],"requestBody":{"description":"Payload to add an asset. There are two mechanisms for adding assets to a task:\n- `direct_upload` - An asset that has been uploaded using the [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) endpoint.\n- `fork_from_library` - This will fork an existing asset from the library to the task.\nThe `type` field is optional, and will default to `direct_upload` if not provided.\nNote: Renditions is currently not supported for library assets.\n","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAssetRequest"}}}},"responses":{"201":{"description":"Created asset","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAssetResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}}},"/tasks/{task_id}/assets/{asset_id}/drafts":{"post":{"operationId":"addDraftToTaskAsset","tags":["Tasks"],"summary":"POST /tasks/{task_id}/assets/{asset_id}/drafts","description":"Add a new draft to a task asset. You can add a draft to only `images`, `videos`, and `raw files` type task assets. See [Upload assets](https://docs.developers.optimizely.com/content-marketing-platform/docs/upload-assets) to upload an asset draft.","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"},{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"}],"requestBody":{"description":"Payload to add a draft to an asset","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAssetRequest"}}}},"responses":{"201":{"description":"Created draft","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAssetDraftResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"}}},"get":{"operationId":"listTaskAssetDrafts","tags":["Tasks"],"summary":"GET /tasks/{task_id}/assets/{asset_id}/drafts","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Get the list of drafts on an asset of a task.","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"},{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"}],"responses":{"200":{"description":"List of fetched drafts","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"data":{"description":"List of drafts","type":"array","items":{"$ref":"#/components/schemas/TaskAssetDraftListResponseItem"}},"pagination":{"allOf":[{"$ref":"#/components/schemas/Pagination"},{"type":"object","properties":{"next":{"type":"string","nullable":true,"example":"https://api.cmp.optimizely.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets/5d7f910551b00a722e0418830cee6631/drafts?offset=10&page_size=10"}}}]}},"required":["data","pagination"]}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/tasks/{task_id}/assets/{asset_id}/drafts/{draft_id}/brand-compliance":{"get":{"operationId":"getTaskAssetDraftBrandCompliance","tags":["Brand Compliance"],"summary":"GET /tasks/{task_id}/assets/{asset_id}/drafts/{draft_id}/brand-compliance","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Get the brand compliance details of a draft of an asset of a task.","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"},{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"},{"name":"draft_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the draft or `latest`. `latest` refers to the most recent draft of the asset within the task."},"examples":{"example1":{"value":"latest","summary":"Set the value to \"latest\" to fetch the brand compliance details of the latest draft"},"example2":{"value":"6706efc7828cd6aaedbc0434139cd3e1","summary":"Set a unique identifier of a draft"}}}],"responses":{"200":{"description":"Brand compliance details of the asset draft","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAssetDraftBrandComplianceResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"put":{"operationId":"updateTaskAssetDraftBrandCompliance","tags":["Brand Compliance"],"summary":"PUT /tasks/{task_id}/assets/{asset_id}/drafts/{draft_id}/brand-compliance","description":"<span style=\"background-color:#e95f6a;padding:5px;border-radius:5px\">Experimental</span> Update the brand compliance details of a draft of an asset of a task.","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the task"},"example":"5f857f30e1c4a2038d6179e9"},{"name":"asset_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the asset"},"example":"5d7f910551b00a722e0418830cee6631"},{"name":"draft_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier of the draft or `latest`. `latest` refers to the most recent draft of the asset within the task."},"examples":{"example1":{"value":"latest","summary":"Set the value to \"latest\" to update the brand compliance details of the latest draft"},"example2":{"value":"6706efc7828cd6aaedbc0434139cd3e1","summary":"Set a unique identifier of a draft"}}}],"requestBody":{"description":"Payload to update the brand compliance","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAssetDraftBrandComplianceRequest"}}}},"responses":{"200":{"description":"Brand compliance details of the asset draft","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAssetDraftBrandComplianceResponse"}}}},"400":{"$ref":"#/components/responses/ClientError"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/tasks/{task_id}/assets/{asset_id}/comments":{"get":{"operationId":"listTaskAssetComments","tags":["Tasks"],"summary":"GET /tasks/{task_id}/assets/{asset_id}/comments","description":"List all the comments for the latest version of a task asset.","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","description":"Unique identifier
[...]
